include ../checkbox/checkbox.pug

mixin checkbox-list(list, expanded)
  - let isHidden = expanded !== true;
  ul.checkbox-list(hidden= isHidden)
    each val, key in list.content
      li.checkbox-list__li
        - let checked = list.checked.includes(key);
        +checkbox({text: val, attr: {checked, name: key}})