include ../checkbox/checkbox.pug

mixin checkbox-list(options = {})
  - 
    const {
      items = [
        {
          name: "no name",
          labelText: "no text",
          checked: false,
        },
      ],

      expanded = false,
    } = options;

  - const isHidden = expanded !== true;
  ul.checkbox-list(hidden= isHidden)
    each elem in items
      li.checkbox-list__li
        +checkbox({text: elem.labelText, attr: {checked: elem.checked, name: elem.name}})