include ../checkbox/checkbox

mixin checkbox-list(options = {})
  -
    const defaultOptions = require('Blocks/checkbox-list/default-options.json');
    const { items, expanded } = { ...defaultOptions, ...options};
    const isHidden = expanded !== true;

  ul.checkbox-list(hidden= isHidden).js-checkbox-list
    each elem in items
      li.checkbox-list__li
        +checkbox({text: elem.labelText, attr: {checked: elem.checked, name: elem.name}})