@import '../template/variables';

.types {
  max-width: 403px;

  &__title {
    font-family: montserrat;
    font-style: normal;
    font-weight: normal;
    color: $dark_25;
    width: 37px;
    text-align: right;
    margin-right: 30px;
    flex-shrink: 0;
  }

  &__h1,
  &__h2,
  &__h3,
  &__p {
    display: flex;
    justify-content: flex-start;
  }

  &__h2,
  &__h3 {
    margin-top: 50px;
  }

  &__p {
    margin-top: 47px;
    max-width: 375px;
  }
}
