extends ../../../assets/blocks/template/template.pug

block variables
  - 
    const titleName = "headers-and-footers";

block includes
  include ../../../assets/blocks/headers-and-footers/headers-and-footers.pug

block content
  main
    +headers-and-footers()

