extends ~Blocks/template/template.pug

block includes
  include ~Blocks/headers-and-footers/headers-and-footers.pug

block variables
  - 
    const titleName = "headers-and-footers";
    const blockName = "headers-and-footers";

block content
  +headers-and-footers()

