extends ~Blocks/template/template_website.pug

block includes
  include ~Blocks/search-room/search-room.pug

block variables
  -
    const titleName = "Search room";
    const blockName = "search-room";


block content
  +search-room()