extends ../../../assets/blocks/template/template_website.pug

block includes
  include ../../../assets/blocks/search-room/search-room.pug

block variables
  -
    const titleName = "Search room";


block content
  +search-room()