mixin like-button(options = {})
  - 
    var {
      counter = 0,
      isPushed = false,
    } = options;

  - if (isPushed === true) additionalClass = "like-button_pushed";
  button.like-button(class= additionalClass)
    span.like-button__counter !{counter}