mixin like-button(options = {})
  - 
    const {
      counter = 0,
      isPushed = false,
    } = options;

  - let additionalClass = (isPushed) ? "like-button_pushed" : "";
  button.like-button.js-like-button(class= additionalClass)
    span.like-button__counter.js-like-button__counter !{counter}