@import "../template/template.scss";
@import "../buns/buns.scss";
@import "../comment/comment.scss";
@import "../final-bill/final-bill.scss";
@import "../bullet-list/bullet-list.scss";
@import "../diagram/diagram.scss";

.room-details {
  &__body {
    width: 100%;
    height: auto;
  }

  &__main {
    padding: 70px 140px 72px 138px;
    display: flex;
    border-bottom: 1px solid $dark_25;
    box-sizing: border-box;
  }

  &__photos {
    display: flex;

    &-img {
      display: block;
      width: 100%;
    }
  }
}

.column_1 {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column_2 {
  flex-grow: 1;
}

.room-details {
  &__wrapper {
    margin-left: 2px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__diagram {
    width: 350px;
  }
  &__buns {
    width: 280px;
    margin-right: 20px;
  }

  &__comments {
    margin-top: 14px;
    position: relative;
    padding-right: 70px;

    &-title {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: $dark_50;
    }
  }

  &__rules,
  &__cancel {
    width: 50%;
  }

  &__rules {
    padding-right: 70px;
  }

  &__cancel {
    padding-left: 6px;
    padding-right: 10px;
  }

  &__rules-title,
  &__cancel-title {
    margin-left: 20px;
    margin-bottom: 16px;
  }

  &__cancel-title {
    margin-left: 0;
  }

  &__impressions {
    margin-left: 81px;
  }
}

.comment {
  margin-top: 20px;
}

.comment:first-child {
  margin-bottom: 21px;
}

.rules_and_cancel {
  display: flex;
  width: 100%;
  margin-top: 35px;
  padding-right: 70px;
}

.room-details__wrapper {
  display: flex;
  width: 100%;
}

.buns__item:last-child {
  border-bottom: none;
}

.bullet-list__li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1210px) {
  main {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1080px) {
  main {
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }

  .column_1,
  .column_2 {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
  }

  .column_2 {
    margin-top: 40px;
    justify-content: center;
  }

  .room-details__wrapper {
    justify-content: space-between;
  }

  .room-details__impressions {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
  }

  .room-details__title {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  main {
    padding-bottom: 30px;
  }

  .room-details__wrapper {
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
  }

  .rules_and_cancel,
  .room-details__comments {
    padding-right: 0px;
  }
}

@media (max-width: 400px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
