@import '../template/variables';

.room-details {
  &__photos {
    display: flex;
    justify-content: center;

    &-box_2 {
      @media (max-width: 1150px) {
        display: none;
      }
    }

    &-img {
      display: block;
      width: 100%;
    }
  }

  &__main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 140px 61px;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'buns bill'
      'comments bill'
      'rules bill';

    @media (max-width: 1366px) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @media (max-width: 1280px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (max-width: 1150px) {
      padding-top: 50px;
      max-width: 900px;
      padding-left: 20px;
      padding-right: 20px;

      grid-template-columns: 1fr auto;
      grid-template-areas:
        'buns bill'
        'comments comments'
        'rules rules';
    }

    @media (max-width: 780px) {
      padding-bottom: 20px;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'buns buns'
        'comments comments'
        'bill bill'
        'rules rules';
    }

    @media (max-width: 450px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__buns-and-impressions {
    grid-area: buns;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

    @media (max-width: 1150px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: 780px) {
      flex-direction: row;
    }

    @media (max-width: 670px) {
      flex-direction: column;
      justify-content: flex-start;
    }

    @media (max-width: 450px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__comments {
    grid-area: comments;
    margin-top: 14px;
    padding-right: 70px;

    @media (max-width: 1150px) {
      margin-top: 25px;
    }

    @media (max-width: 450px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 19px;

      @media (max-width: 500px) {
        flex-direction: column;
      }
    }

    &-comment {
      margin-bottom: 23px;
    }
  }

  &__rules-and-cancel {
    grid-area: rules;
    display: flex;
    margin-top: 10px;

    @media (max-width: 780px) {
      flex-direction: column;
    }

    @media (max-width: 450px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__rules {
    flex: 0 0 260px;
    margin-right: 100px;

    @media (max-width: 780px) {
      margin-top: 20px;
      margin-right: 0;
      margin-bottom: 20px;
      flex-basis: auto;
    }

    &-title {
      padding-left: 20px;
      padding-bottom: 17px;

      @media (max-width: 780px) {
        padding-left: 0;
      }
    }
  }

  &__cancel {
    flex: 0 0 340px;

    @media (max-width: 780px) {
      flex-basis: auto;
    }

    &-title {
      padding-bottom: 17px;
    }
  }

  &_final-bill {
    grid-area: bill;

    @media (max-width: 780px) {
      margin: 0 auto;
    }
  }

  &__buns {
    flex: 0 0 270px;
    min-width: 270px; // чтобы не ломалось при flex-direction: column

    @media (max-width: 1150px) {
      margin-bottom: 20px;
    }
  }

  &__impressions {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 90px;

    @media (max-width: 1280px) {
      margin-left: 40px;
      align-items: center;
    }

    @media (max-width: 1150px) {
      margin-left: 0;
      margin-bottom: 20px;
      flex-grow: 0;
      align-items: flex-start;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__diagram {
    display: flex;
  }
}
