extends ~Blocks/template/template_website

block includes
  include ~Blocks/registration-page/registration-page

block variables
  - const titleName = "Registration";
  - const blockName = "registration-page";
block content
  +registration-page()