extends ../../../assets/blocks/template/template_website.pug

block includes
  include ../../../assets/blocks/registration-page/registration-page.pug

block variables
  - const titleName = "Registration";
  - const blockName = "registration-page";
block content
  +registration-page()