include ../input/input.pug
include ../button/button.pug
include ../button-payment/button-payment.pug

mixin log-in(options = {})
  -
    const {
      title = "Войти",
      inputEmail = {
        attr: {
          placeholder: "Email",
          type: "email"
        },
      },
      inputPassword = {
        attr: {
          placeholder: "Пароль",
          type: "password"},
      },
      buttonPayment = {
        text: "Войти",
      },
      mainQuestion = "Нет аккаунта на Toxin?",
      buttonCreateAccount = {
        text: "Создать",
        link: "./registration-page.html",
        mod: {color: "white"},
      },
    } = options;

  form.log-in
    h1 #{title}
    .log-in__email
      +input(inputEmail)
    .log-in__password
      +input(inputPassword)
    .log-in__button-payment
      +button-payment(buttonPayment)
    .log-in__account-create
      span #{mainQuestion}
      +button(buttonCreateAccount)
