@import '../input/input.scss';
@import '../button/button.scss';
@import '../button-payment/button-payment.scss';

.log-in {
  &__email {
    margin-top: 20px;
    width: 100%;
  }

  &__password {
    margin-top: 10px;
    width: 100%;
  }

  &__button-payment {
    margin-top: 20px;
  }

  &__account-create {
    margin-top: 29px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    color: black;
  }
}
