include ../input/input.pug
include ../button/button.pug
include ../button-payment/button-payment.pug

mixin log-in()
  form.form
    .log-in
      h1 Войти
      .log-in__email
        +input({placeholder: "Email"})
      .log-in__password
        +input({placeholder:"Пароль"})
      .log-in__button-payment
        +button-payment({text: "Войти"})
      .log-in__account-create
        span Нет аккаунта на Toxin?
        +button({text: "Создать", mod: {color: "white", width: "100px"}})
