extends ../../../assets/blocks/template/template.pug

block includes
  include ../../../assets/blocks/form-elements/form-elements.pug

block variables
  - 
    const titleName = 'From Elements';

block content
  main
    +form-elements()