extends ~Blocks/template/template

block includes
  include ~Blocks/form-elements/form-elements

block variables
  - 
    const titleName = 'From Elements';
    const blockName = 'form-elements';

block content
  +form-elements()