extends ../../../assets/blocks/template/template.pug

block includes
  include ~Blocks/form-elements/form-elements.pug

block variables
  - 
    const titleName = 'From Elements';
    const blockName = 'form-elements';

block content
  +form-elements()