@import "_constants";
@import "reset";
@import "fonts";
@import "colors_&_type";

body {
  width: 1440px;
  height: 900px;
  background: white;
}

.logo {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}

h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark_100;
}

h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark_100;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark_100;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark_75;
}
