mixin toggler(name, value, checked)
  div.toggler
    label.toggler__label
      input.toggler__input(type="checkbox" name= name checked= checked) 
      .toggler__switcher
      span.toggler__span !{value}