mixin toggler(name, value, checked)
    - let isChecked = checked === "checked";
    div.toggler
        input.toggler__input(type="checkbox" id= name name= name checked= isChecked) 
        label.toggler__label(for= name) !{value}  