@import '../template/variables';

.search-room {
  max-width: 1440px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 266px 1fr;
  grid-gap: 60px;

  padding: 30px 140px;
  padding-bottom: 72px;

  @media (max-width: 1366px) {
    padding-left: 60px;
    padding-right: 60px;
    grid-gap: 20px;
  }

  @media (max-width: 1060px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 860px) {
    grid-template-columns: auto;
  }

  @media (max-width: 640px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 560px) {
    padding-bottom: 20px;
  }

  &__description {
    @media (max-width: 860px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 10px 10px;
    }

    @media (max-width: 560px) {
      grid-template-columns: auto;
      grid-template-rows: auto;
      gap: 10px 10px;
      justify-content: center;
    }
  }

  &__dropdown {
    margin-top: 20px;

    @media (max-width: 860px) {
      margin-top: 0;
    }

    @media (max-width: 560px) {
      margin-top: 10px;
    }
  }

  &__range-slider {
    margin-top: 30px;
    max-width: 320px;

    @media (max-width: 860px) {
      margin-top: 0;
    }

    @media (max-width: 560px) {
      margin-top: 10px;
    }

    &-p {
      margin-top: 15px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__checkboxes {
    margin-top: 29px;

    @media (max-width: 860px) {
      margin-top: 0;
    }

    @media (max-width: 560px) {
      margin-top: 10px;
    }
  }

  &__rich-checkbox-buttons {
    margin-top: 32px;

    @media (max-width: 860px) {
      margin-top: 0;
    }

    @media (max-width: 560px) {
      margin-top: 10px;
    }
  }

  &__rich-checkbox {
    margin-bottom: 9px;
  }

  &__dropdown-room {
    margin-top: 30px;

    @media (max-width: 860px) {
      margin-top: 0;
    }
  }

  &__title {
    margin-bottom: 14px;
  }

  &__checkbox-buttons {
    margin-top: 25px;

    @media (max-width: 860px) {
      margin-top: 0;
    }

    @media (max-width: 560px) {
      margin-top: 10px;
    }
  }

  &__rooms-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 21px 12px;
    justify-content: end;

    @media (max-width: 1200px) {
      grid-template-columns: auto auto;
    }

    @media (max-width: 860px) {
      justify-content: center;
    }

    @media (max-width: 560px) {
      grid-template-columns: auto;
      justify-items: center;
    }

    &-title {
      grid-column: 1/4;

      @media (max-width: 1200px) {
        grid-column: 1 / 3;
      }

      @media (max-width: 860px) {
        text-align: center;
      }

      @media (max-width: 560px) {
        grid-column: 1 / 2;
      }
    }
  }

  &__pagination {
    grid-column: 1 /4;

    display: flex;
    justify-content: center;
    margin-top: 19px;
    padding-right: 15px;

    @media (max-width: 1200px) {
      grid-column: 1 / 3;
    }

    @media (max-width: 560px) {
      grid-column: 1 / 2;
      margin-left: 0;
    }
  }
}
