include ~Blocks/filter-date/filter-date.pug
include ~Blocks/dropdown-guests/dropdown-guests.pug
include ~Blocks/dropdown-rooms/dropdown-rooms.pug
include ~Blocks/range-slider/range-slider.pug
include ~Blocks/rich-checkbox/rich-checkbox.pug
include ~Blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ~Blocks/checkbox-buttons/checkbox-buttons.pug
include ~Blocks/preview/preview.pug
include ~Blocks/pagination/pagination.pug

mixin search-room(options = {})
  -
    const defaultOptions = require('Blocks/search-room/default-options.json');

    const { 
      filterDate, 
      dropdownGuests, 
      rangeSlider, 
      checkboxButtons, 
      richCheckboxButtons,
      dropdownRooms, 
      expandableCheckboxList, 
      roomsList, 
      pagination 
    } = { ...defaultOptions, ...options };

  main.search-room
    .search-room__description
      +filter-date(filterDate)
      .search-room__dropdown
        +dropdown-guests(dropdownGuests)
      .search-room__range-slider
        +range-slider(rangeSlider.rangeSliderOptions)
        p.search-room__range-slider-p #{rangeSlider.pText}
      .search-room__checkboxes
        +checkbox-buttons(checkboxButtons)
      .search-room__rich-checkbox-buttons
        h3.search-room__title  #{richCheckboxButtons.title} 
        each argsArr in richCheckboxButtons.items
          .search-room__rich-checkbox
            +rich-checkbox(...argsArr)
      .search-room__dropdown-room
        +dropdown-rooms(dropdownRooms)
      .search-room__checkbox-buttons
        +expandable-checkbox-list(expandableCheckboxList)

    .search-room__rooms-list 
      .search-room__rooms-list-title
        h1 #{roomsList.title}
      each val in roomsList.previews
        +preview(val)
      .search-room__pagination
        +pagination(pagination)