@import "../template/template.scss";
@import "../search-form/search-form.scss";

.landing-page {
  &__body {
    background: url("assets/images/Website-pages/landing-page/landing-page.png") no-repeat;
  }

  &__main {
    padding-top: 70px;
    padding-left: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__slogan {
    width: 100%;
    margin-top: 316px;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 21px;
    padding-right: 134px;
    text-align: end;

    &-p {
      max-width: 297px;
    }
  }
}

@media (max-width: 768px) {
  .landing-page {
    &__slogan {
      margin-top: 190px;
    }
  }
}

@media (max-width: 480px) {
  .landing-page {
    &__main {
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &__slogan {
      padding-bottom: 50px;
      padding-right: 10px;
      margin-top: 160px;
    }
  }
}

@media (max-width: 360px) {
  .landing-page {
    &__main {
      padding-left: 5px;
      padding-right: 5px;
    }
    &__slogan {
      margin-top: 130px;
    }
  }
}
// На width: 240 уже ломается, перенастройка слишком трудоемка.
// Потребуется поменять дизанй почти полностью.
// Вероятнее всего, что пользователь просто перевернет телефон.
