include ../search-form/search-form.pug

mixin landing-page(options = {})
  -
    const {
      sloganText = "Лучшие номера для вашей работы, отдыха и просто вдохновения",
    } = options;

  main
    +search-form()
    .landing-page__slogan 
      .landing-page__slogan-p 
        p #{sloganText}