@import '../template/variables';

.landing-page {
  &__body {
    background: url('./images/landing-page.jpg') no-repeat;
    background-size: 100% auto;

    @media (max-width: 1440px) {
      background-size: auto;
    }

    @media (max-width: 960px) {
      background-position-y: -130px;
    }

    @media (max-width: 768px) {
      background-position-y: -230px;
    }
  }

  &__main {
    width: 100%;
    max-width: 1440px;
    min-height: 829px;
    margin: 0 auto;
    position: relative;

    padding-top: 70px;
    padding-left: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (max-width: 960px) {
      padding-left: 0;
      justify-content: center;
      min-height: 600px;
    }

    @media (max-width: 768px) {
      min-height: 550px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__slogan {
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 21px;
    padding-right: 134px;
    text-align: end;

    @media (max-width: 960px) {
      padding-right: 34px;
    }

    @media (max-width: 480px) {
      justify-content: center;
      padding-right: 0;
    }

    &-p {
      max-width: 297px;
    }
  }
}
