@import '../template/variables';

.landing-page {
  &__body {
    background: url('./images/landing-page.png') no-repeat;
  }

  &__main {
    padding-top: 70px;
    padding-left: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (max-width: 480px) {
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    @media (max-width: 360px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__slogan {
    width: 100%;
    margin-top: 316px;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 21px;
    padding-right: 134px;
    text-align: end;

    @media (max-width: 768px) {
      margin-top: 190px;
    }

    @media (max-width: 480px) {
      padding-bottom: 50px;
      padding-right: 10px;
      margin-top: 160px;
    }

    @media (max-width: 360px) {
      margin-top: 130px;
    }

    &-p {
      max-width: 297px;
    }
  }
}

// На ширине экрана 240  весь дизайн ломается, перенастройка слишком трудоемка.
// Потребуется поменять дизайн почти полностью.
// Вероятнее всего, что пользователь просто перевернет телефон.
