.copyright {
    position: absolute;
    bottom: -71px;
    height: 71px;
    width: inherit;
    background: white;
    padding: 0 140px;
    box-shadow: 0px 10px 20px $dark_5; 
    border-top: 1px solid $dark_10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

%icon {
    width: 24px;
    height: 24px;
}
.social-networks {
    display: inline-flex;
    width: 112px;
    justify-content: space-between;

    &__twitter {
        @extend %icon;
        background: url("/assets/blocks/copyright/twitter.png") center no-repeat;
    }
    &__facebook {
        @extend %icon;
        background: url("/assets/blocks/copyright/facebook.png") center no-repeat;
    }
    &__instagram {
        @extend %icon;
        background: url("/assets/blocks/copyright/instagram.png") center no-repeat;
    }
}