.copyright {
    position: absolute;
    bottom: -71px;
    height: 71px;
    width: inherit;
    background: white;
    padding: 0 140px;
    box-shadow: 0px 10px 20px $dark_5; 
    border-top: 1px solid $dark_10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}