include ../social-networks/social-networks.pug

mixin copyright(obj)
  - 
    let { 
      text = "Copyright &#169 2018 Toxin отель. Все права зачищены.",
    } = obj;
  .copyright
    span !{text}
    +social-networks()