include ../social-networks/social-networks.pug

mixin copyright(options = {})
  - 
    let { 
      text = "Copyright &#169 2018 Toxin отель. Все права зачищены.",
    } = options;

  .copyright
    span !{text}
    +social-networks()