mixin copyright()
    .copyright
        span Copyright &#169 2018 Toxin UI Kit. All right reserved.
        .social-networks
            .social-networks__twitter
            .social-networks__facebook
            .social-networks__instagram