@import 'src/assets/blocks/social-networks/social-networks.scss';

.copyright {
  background: white;
  padding: 24px 140px;
  box-shadow: 0px 10px 20px $dark_10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .copyright {
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
  }
}
