include ../social-networks/social-networks.pug

mixin copyright(options = {})
  - 
    const { 
      text = "Copyright &#169 2018 Toxin отель. Все права зачищены.",
    } = options;

  .copyright
    .copyright__content
      span !{text}
      +social-networks()