@import "../button/button.scss";

$headerHeight: 70px;

.header {
  position: relative;
  display: grid;
  grid-template-columns: auto auto min-content;
  grid-template-areas: "logo nav buttons";
  height: $headerHeight;
  padding-right: 140px;
  padding-left: 140px;
  background: white;
  box-shadow: 0px 10px 20px $dark_5;

  &__logo {
    display: flex;
    align-items: center;
    grid-area: logo;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 70px;
    grid-area: nav;
    justify-self: end;
  }

  &__buttons {
    display: flex;
    grid-area: buttons;
    justify-content: flex-end;
    align-items: center;
  }

  &__li {
    list-style: none;
    line-height: $headerHeight;
    margin-right: 21px;
  }

  &__a {
    text-decoration: none;
    color: $dark_50;
    font: $bodyFont;
  }

  &__li_submenu {
    &::after {
      position: relative;
      content: "";
      display: inline-block;
      width: 24px;
      height: 21px;
      background: url("assets/blocks/header/images/expand-more.png") center no-repeat;
      top: 7px;
    }
  }

  &_current-page {
    font-weight: bold;
    color: $dark_75;
  }

  // для миксинов буду использовать конструкцию & &__mixin
  // иначе, если какой-нибудь последующий блок импортирует исходный файл,
  // тогда свойства сбросятся...
  // !important использовать не стоит..
  & &__button_default {
    height: 34px;
    line-height: 34px;
  }

  & &__button_color_white {
    height: 34px;
    line-height: 34px;
    margin-right: 19px;
  }

  &__submenu {
    position: absolute;
    color: $dark_50;
    background: white;
    padding: 10px 10px;
  }
  // да, да, дичь полная...
  &__cosmin-negoita {
    margin-left: 61px;
    color: $dark_50;
    font: $bodyFont;
  }
}

@media (max-width: 1366px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: auto auto;
    grid-template-rows: 30px 50px;
    grid-template-areas:
      "logo nav"
      "logo buttons";
    height: auto;

    &__li:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 640px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    grid-template-rows: 50px 60px;
    grid-template-areas:
      "logo buttons"
      "nav nav";
    &__nav {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      grid-area: nav;
      justify-self: center;
    }

    &__li {
      line-height: 30px;
    }
  }
}

@media (max-width: 360px) {
  .header {
    grid-template-rows: 80px 60px;
    &__buttons {
      flex-direction: column-reverse;
      justify-content: space-around;
    }
  }
}

@media (max-width: 320px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
