include ../buttons/buttons.pug
- 
    var nav = [
        {title: "Home", href: "#", currentPage: true},
        {title: "About Us", href: "#"},
        {title: "Services", href: "#", innerUl: [
            "service_1", "service_2", "service_3"
        ]},
        {title: "Careers", href: "#"},
        {title: "News", href: "#"},
        {title: "Documentation", href: "#"},
    ]
mixin header(nav, logged)
    .header
        a.header__logo(href="#")
            img(src="/assets/images/Logo_toxin.png")
        ul.header__nav
            each val in nav
                li.header__li  
                    if (val.innerUl) 
                        span.header__span #{val.title}
                        ul.header__submenu(class="_invisible")
                            each subVal in val.innerUl
                                li 
                                    a.header__a(href="#") !{subVal}
                    else 
                        a.header__a(href=`${val.href}` class= val.currentPage ? "header_current-page" : "") #{val.title}
        if (logged) 
            //-далее дикое название, т.к. не знаю, что это означает...
            .header__cosmin-negoita Cosmin Negoita
        else 
            .header__buttons
                +button("login", "button_white header__button_white")
                +button("register", "button_default header__button")