include ../button/button.pug
- 
  var nav = [
    {title: "О нас", href: "#", currentPage: true},
    {title: "Услуги", href: "#", innerUl: [
      "service_1", "service_2", "service_3"
    ]},
    {title: "Вакансии", href: "#"},
    {title: "Новости", href: "#"},
    {title: "Соглашения", href: "#", innerUl: []},
  ];
  nav.buttons = {
    login: {title: "Войти"},
    register: {title: "Зарегистрироваться"},
  };

mixin header(nav, logged)
  - let { extraClasses = {} } = nav;
  .header
    a.header__logo(href="#")
      img(src="assets/blocks/header/images/logo-toxin.png")
    ul.header__nav
      each val in nav
        li.header__li(class = val.innerUl ? "header__li_submenu " : ""
        class = val.currentPage ? "header__li_current-page" : "")  
          if (val.innerUl) 
            ul.header__submenu(class="_invisible")
              each subVal in val.innerUl
                li 
                  a.header__a(href="#") !{subVal}
          a.header__a(href=`${val.href}` class= val.currentPage ? "header_current-page" : "") #{val.title}
    if (logged) 
      .header__user-name Юлий Цезарь
    else 
      .header__buttons
        +button(nav.buttons.login.title, "button_color_white header__button_color_white")
        +button(nav.buttons.register.title, "button_default header__button_default")