@import "../button/button.scss";

.header {
  position: relative;
  display: grid;
  grid-template-columns: auto auto min-content;
  grid-template-areas: "logo nav buttons";
  padding-right: 140px;
  padding-left: 140px;
  background: white;
  box-shadow: 0px 10px 20px $dark_5;
  line-height: 70px;

  &__logo {
    display: flex;
    align-items: center;
    grid-area: logo;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: nav;
    justify-self: end;
  }

  &__buttons {
    display: flex;
    grid-area: buttons;
    justify-content: flex-end;
    align-items: center;
  }

  &__button-enter {
    margin-right: 19px;
  }

  &__li {
    list-style: none;
    margin-right: 21px;
    position: relative;
  }

  &__li_current-page {
    color: $dark_75;
  }

  &__a {
    text-decoration: none;
    color: $dark_50;
    font: $bodyFont;
  }

  &__li_submenu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: "";
      width: 24px;
      height: 18px;
      margin-top: 1px;
      background: url("assets/blocks/header/images/expand-more.png") center no-repeat;
    }
  }

  &_current-page {
    font-weight: bold;
    color: $dark_75;
  }

  &__submenu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 9999;
    top: 24px;
    right: 0;
    color: $dark_50;
    background: white;
    padding: 10px 10px;
    line-height: 18px;
  }

  &__li_submenu:hover > &__submenu {
    visibility: visible;
    opacity: 1;
  }

  &__user-name {
    color: $dark_50;
    font: $bodyFont;
    white-space: nowrap;
    line-height: 70px;

    &::before {
      content: "";
      display: inline-block;
      width: 1px;
      height: 30px;
      margin-right: 20px;
      background-color: $dark_10;
      vertical-align: middle;
    }
  }
}

@media (max-width: 1366px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: auto auto;
    grid-template-rows: 30px 50px;
    grid-template-areas:
      "logo nav"
      "logo buttons";
    line-height: normal;

    &__li:last-child {
      margin-right: 0;
    }

    &__user-name {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 640px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    grid-template-rows: 50px 60px;
    grid-template-areas:
      "logo buttons"
      "nav nav";
    &__nav {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      grid-area: nav;
      justify-self: center;
    }

    &__li {
      line-height: 30px;
    }
  }
}

@media (max-width: 360px) {
  .header {
    grid-template-rows: 80px 60px;
    &__buttons {
      flex-direction: column-reverse;
      justify-content: space-around;
    }
  }
}

@media (max-width: 320px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
