extends ../../../assets/blocks/template/template_website.pug

block includes
  include ../../../assets/blocks/log-in/log-in.pug

block variables
  - const titleName = "Sing in";
block content
  main
    +log-in()