extends ~Blocks/template/template_website

block includes
  include ~Blocks/sign-in/sign-in

block variables
  - const titleName = "Sign in";
  - const blockName = "sign-in";
  
block content
  +sign-in()