extends ../../../assets/blocks/template/template_website.pug

block includes
  include ~Blocks/sign-in/sign-in.pug

block variables
  - const titleName = "Sign in";
  - const blockName = "sign-in";
  
block content
  +sign-in()