extends ../../../assets/blocks/template/template_website.pug

block includes
  include ../../../assets/blocks/sign-in/sign-in.pug

block variables
  - const titleName = "Sing in";
  
block content
  +sign-in()