mixin checkbox(options = {})
  - 
    var {
      text = "check it!",
      attr = {},
    } = options;

  div.checkbox
    label.checkbox__label
      input.checkbox__input(type="checkbox")&attributes(attr)
      span.checkbox__span !{text}