.checkbox {
  position: relative;
  max-width: 240px;
  user-select: none;

  &__input {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  &__span {
    display: block;
    color: $dark_50;
    cursor: pointer;
    margin-left: 30px;
    line-height: 18px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      border: 1px solid $dark_25;
      height: 20px;
      width: 20px;
      margin-right: 10px;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  &__input:checked + &__span::before {
    border-color: $purple;
    background: url('assets/blocks/checkbox/images/check.png') center no-repeat;
  }
}
