.checkbox {
  position: relative;

  &__label {
    color: $dark_50;
    max-width: 210px;
  }

  &__input {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  &__span {
    display: inline-flex;
    align-items: center;
    height: 26px;
  }

  &__span::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    border: 1px solid $dark_25;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__input:checked + &__span::before {
    border-color: $purple;
    background: url("assets/blocks/checkbox/images/check.png") center no-repeat;
  }
}