@import "../checkbox-list/checkbox-list.scss";

.expandable-checkbox-list {
  width: 266px;
  position: relative;
  user-select: none;

  &__title {
    @extend h3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 43px;
    margin-bottom: 5px;
    cursor: pointer;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 16px;
      right: 17px;
      width: 7px;
      height: 7px;
      border: 2px solid $dark_50;
      border-left: none;
      border-top: none;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  &__title_expanded::after {
    transform: rotate(-135deg);
    top: 21px;
    right: 18px;
  }
}
