@import '../template/variables';

.expandable-checkbox-list {
  width: 266px;
  padding-right: 10px;
  user-select: none;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__toggler {
    display: flex;
    color: $dark_50;
  }

  &__list {
    margin-top: 15px;
    width: 100%;
  }
}
