include ../checkbox-list/checkbox-list.pug

mixin expandable-checkbox-list(options = {})
  - 
    const {
      title = "expandable checkbox list",
      expanded = false,

      items = [
        {
          name: "breakfast",
          labelText: "Завтрак",
          checked: false,
        },
        {
          name: "dest",
          labelText: "Письменный стол",
          checked: false,
        },
        {
          name: "highchair",
          labelText: "Стул для кормления",
          checked: false,
        },
        {
          name: "crib",
          labelText: "Кроватка",
          checked: false,
        },
        {
          name: "tv_1",
          labelText: "Телевизор",
          checked: false,
        },
        {
          name: "shampoo_1",
          labelText: "Шампунь",
          checked: false,
        },
        {
          name: "tv_2",
          labelText: "Телевизор",
          checked: false,
        },
        {
          name: "shampoo_2",
          labelText: "Шампунь",
          checked: false,
        },
      ],
      checked = [1, 2, 3],
    } = options;

    if (items.length) {
      checked.forEach(itemsIndex => items[itemsIndex].checked = true);
    }

  - const className = (expanded === true) ? "expandable-checkbox-list__title_expanded" : ""; 
  .expandable-checkbox-list
    .expandable-checkbox-list__title(class= `${className}`) #{title} 
    +checkbox-list({items, expanded})