mixin button-text(options = {})
  - 
    var {
      text = "click me",
      mod = {},
      attr = {type: "submit"},
    } = options;

    var summaryClasses = Object.entries(mod).reduce((str, [key, entry]) => {
      return str += ` button-text_${key}_${entry}`; 
    }, "button-text");

  button(class= summaryClasses)&attributes(attr) #{text}