@import '../template/variables';
@import '../template/extenders';

.button-text {
  @extend %button-text;
  color: $purple;

  &_theme_hovered {
    color: $dark_50;
  }

  &:hover {
    color: $dark_50;
  }
}
