.button-text {
  @extend h3;
  color: $purple;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  &_theme_hovered {
    color: $dark_50;
  }

  &:hover {
    color: $dark_50;
  }
}
