@import '../template/variables';
@import '../template/extenders';

.button-text {
  @extend %h3;
  color: $purple;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 0;

  &_theme_hovered {
    color: $dark_50;
  }

  &:hover {
    color: $dark_50;
  }
}
