mixin button-text({ text = "click me", attrs = {}, mods = {} } = {})
  - 
    const validModifiers = ["button-text_theme_hovered"];

    const modifiers = Object.entries(mods)
      .map(([key, entry]) => `button-text_${key}_${entry}`)
      .filter(modifier => validModifiers.includes(modifier));

  button.button-text(type="submit" class= modifier)&attributes(attrs) #{text}