@import '../template/variables';
// Передедал исходную таблицу стилей air-datepicker

$width: 320px;

.datepicker {
  width: $width;
  box-sizing: border-box;

  @media (max-width: 380px) {
    width: 300px;
  }

  &--pointer {
    display: none;
  }

  &--nav {
    border-bottom: none;
  }

  &--nav-title {
    padding: 15px 8px;
    font: $titleFont;
    font-weight: bold;

    i {
      color: inherit;
    }
  }

  &--nav-action {
    width: auto;
    padding: 0 15px;
    color: $purple;
  }

  &--cells {
    margin-top: 8px;
  }

  &--cell {
    height: auto;
    padding: 8px 0;
    font: $bodyFont;
    font-size: 12px;
    color: $dark_50;
    border-radius: 50%;

    &.-current- {
      background: $secondary-gradient;
      color: white;
      font-weight: bold;
      border-radius: 50%;
    }

    &.-selected- {
      background: $primary-gradient;
      color: white;
      font-weight: bold;

      &.-focus- {
        background: $primary-gradient;
      }
    }

    &.-range-to-,
    &.-range-from- {
      position: relative;
      border-radius: 50%;
      border: none;
      background: $primary-gradient;
      color: white;
      font-weight: bold;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        z-index: -1;
        background: $primary-gradient_025;
      }
    }

    &.-range-to- {
      &::before {
        left: 0;
        right: 50%;
      }
    }

    &.-in-range- {
      background: $primary-gradient_025;
    }
  }

  &--cell-day {
    &.-other-month- {
      color: $dark_25;

      &:hover {
        color: white;
      }

      &.-selected- {
        background: $primary-gradient;
      }
    }

    &.-current- {
      color: white;
    }
  }

  &--cell-month {
    &.-range-from-.-range-to- {
      &::before {
        display: none;
      }
    }
  }

  &--cell-year {
    &.-other-decade- {
      color: $dark_25;

      &.-selected {
        background: $primary-gradient;
      }
    }
  }

  &--content {
    padding: 11px 20px;
  }

  &--day-name {
    font: $bodyFont;
    font-weight: bold;
    font-size: 12px;
    color: $purple;
    text-transform: inherit;
  }

  &--buttons {
    cursor: pointer;
    font-family: $bodyFont-family;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    padding: 5px 20px 14px;
    border-top: none;
  }

  &--button-reset {
    color: $dark_50;
  }

  &--button-apply {
    color: $purple;
  }
}
