mixin rate-button(starsNumDefault)
  - let n = 0;
  .rate-button(data-stars_num= starsNumDefault)
    while (++n < 6)
      - 
        let checked = "";
        if (n <= starsNumDefault) checked = "rate-button__star_checked";
      .rate-button__star(class = checked data-star= n)
