mixin rate-button(starsNumDefault)
  - var n = 0;
  .rate-button(data-stars_num= starsNumDefault)
    while (++n < 6)
      if (n <= starsNumDefault)
        .rate-button__star_checked(data-star= n)
      else
        .rate-button__star(data-star= n)
