.rate-button {
  width: 120px;
  display: flex;

  &__star {
    width: 24px;
    height: 24px;
    background: url("assets/blocks/rate-button/images/star-border.png") center no-repeat;

    &_checked {
      width: 24px;
      height: 24px;
      background: url("assets/blocks/rate-button/images/star.png") center no-repeat;
    }
  }
}
