@import '../template/variables';

::placeholder {
  color: $dark_25;
}

.form-elements {
  &__main {
    display: grid;
    padding-top: 123px;
    padding-left: 141px;
    padding-bottom: 132px;
    z-index: 0;
    grid-template-areas:
      "column-1 column-2 column-3"
      "column-1 comments comments";
    grid-template-columns: 320px 266px 320px;
    gap: 0 126px;
  }

  &__column-1 {
    grid-area: column-1;
  }

  &__column-2 {
    grid-area: column-2;
    margin-top: 20px;
  }

  &__column-3 {
    grid-area: column-3;
    margin-top: 21px;
  }

  &__comments {
    grid-area: comments;
    padding-top: 205px;
    width: 711px;
  }

  &__input {
    margin-top: 16px;

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  &__dropdown {
    margin-top: 16px;
  }

  &__masked-text-field {
    margin-top: 18px;
  }

  &__date-dropdown {
    margin-top: 40px;
  }

  &__filter,
  &__input-subscribe,
  &__dropdown-rooms-1,
  &__dropdown-rooms-2 {
    width: 266px;
  }

  &__filter {
    margin-top: 40px;
  }

  &__input-subscribe {
    margin-top: 41px;

    &-input {
      margin-top: 5px;
    }
  }

  &__dropdown-rooms-1 {
    margin-top: 96px;
  }

  &__dropdown-rooms-2 {
    margin-top: 16px;
  }

  &__expandable-checkbox-list-1 {
    margin-top: 168px;
  }

  &__expandable-checkbox-list-2 {
    margin-top: 39px;
  }

  &__buns {
    margin-top: 39px;
    border-bottom: 1px solid $dark_10;
  }

  &__title {
    margin-bottom: 14px;

    &_mb_16 {
      margin-bottom: 16px;
    }
  }

  &__radio-buttons {
    margin-top: 40px;
  }

  &__togglers {
    margin-top: 39px;
    width: 260px;
  }

  &__toggle {
    margin-top: 10px;
  }

  &__like-buttons {
    margin-top: 44px;
    width: 89.72px;
  }

  &__rate-buttons {
    margin-top: 41px;
    width: 260px;
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;
  }

  &__dropdown-guests {
    margin-top: 198px;
    width: 320px;
  }

  &__rich-checkbox {
    margin-bottom: 9px;
  }

  &__rich-checkbox-buttons {
    margin-top: 256px;
  }

  &__buttons-container {
    margin-top: 44px;
  }

  &__buttons {
    width: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 31px 18px;
  }

  &__buttons-text {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    width: 143px;
  }

  &__button-payment {
    margin-top: 30px;
  }

  &__pagination {
    margin-top: 41px;
  }

  &__dropdown-guests-2 {
    margin-top: 234px;
  }

  &__bullet-list {
    margin-top: 255px;
    width: 260px;
  }
}
