%h3 {
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark_100;
}

%input {
  width: 100%;
  padding: 9px 14px;
  border: 1px solid $dark_25;
  border-radius: 4px;
  color: $dark_75;
  background: transparent;

  &:focus,
  &:hover {
    border-color: $dark_50;
    outline: none;
  }

  &_action_hover {
    border-color: $dark_75;
    outline: none;
  }
}

%button-text {
  @extend %h3;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}