include ../../../assets/blocks/header/header.pug
include ../../../assets/blocks/footer/footer.pug
include ../../../assets/blocks/copyright/copyright.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block includes 
    block variables

    title= titleName

  body
    +header(navRus)
    block content
    +footer(footerRus)
    +copyright({innerText: "Copyright &#169 2018 Toxin отель. Все права зачищены." })