- var MAX_ITEMS_VALUE = 10;
- var MIN_ITEMS_VALUE = 0;
//- почему-то const выдает ошибку (has already been declared),
//- как если бы была общая область видимости с js-файлом.

mixin dropdown(options = {})
  -  
    var {
      name = "Имярек",
      title = "dropdown", 
      input = "Щелкни на плюсе или на минусе...",
      items = [
        {
          name: "item1",
          text: "item1 text",
          counter: 1,
        },
        {
          name: "item2",
          text: "item2 text",
          counter: 2,
        },
      ],

      //- Добавим возможность непосредственно задавать к-во элементов, напр. counters = [1, 12]
      counters = items.map((elem) => elem.counter),

      showButtons = true,
      showReset = true,
      expanded = false,
    } = options;

    items.map((elem, i) => elem.counter = counters[i]);

    var inputClass = "";
    var containerClass = "";

    if (expanded === true) {
      inputClass = "dropdown__input_expanded";
      containerClass = "dropdown__items-container_expanded";
    }

  .dropdown(data-name= name)
    .dropdown__title #{title}
    .dropdown__input(class= inputClass) #{input}
    .dropdown__items-container(class= containerClass)
      each elem in items
        - var {text, counter} = elem;
        .dropdown__item
          span.dropdown__item-name #{text}
          .dropdown__trigger
            - var disableMinus = counter === MIN_ITEMS_VALUE ? "dropdown__minus_disabled" : "";
            .dropdown__minus(class= disableMinus) -
            span.dropdown__counter  #{counter} 
            - var disablePlus = counter === MAX_ITEMS_VALUE ? "dropdown__plus_disabled" : "";
            .dropdown__plus(class= disablePlus) +
      if (showButtons)
        .dropdown__buttons
          .dropdown__button-reset(hidden= !showReset) Очистить                    
          .dropdown__button-apply Применить
