extends ../../../assets/blocks/template/template_website.pug

block includes
    include ../../../assets/blocks/filter-date/filter-date.pug
    include ../../../assets/blocks/dropdown/dropdown.pug
    include ../../../assets/blocks/range-slider/range-slider.pug
    include ../../../assets/blocks/checkboxes/checkboxes.pug
    include ../../../assets/blocks/preview/preview.pug
    include ../../../assets/blocks/pagination/pagination.pug

block variables
    - 
        var titleName = "Search room";
        var dropdown = Object.assign({}, dropdownDefault);
        dropdown.content.title = "Гости";
        dropdown.content.input = "3 гостя, 1 младенец"
        dropdown.content.counters = {
            adults_num: 3,
            kids_num: 0,
            babies_num: 1
        }

        var amenities = checkboxList;
        var amenitiesExtra = Object.assign({}, expandableList);
        amenitiesExtra.title = "Дополнительные удобства";

        var previews = [
            {
                number: 888,
                type: "Люкс",
                imgSrc: "assets/images/Website_pages/search_room/888.png",
                cost: "9 990",
                stars: 5,
                reviews: 145,
                arrowsHidden: false,
            },
            {
                number: 840,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/840.png",
                cost: "9 900",
                stars: 4,
                reviews: 65,
                arrowsHidden: true,
            },
            {
                number: 980,
                type: "Люкс",
                imgSrc: "assets/images/Website_pages/search_room/980.png",
                cost: "8 500",
                stars: 3,
                reviews: 35,
                arrowsHidden: true,
            },
            {
                number: 856,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/856.png",
                cost: "7 300",
                stars: 5,
                reviews: 19,
                arrowsHidden: true,
            },
            {
                number: 740,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/740.png",
                cost: "6 000",
                stars: 4,
                reviews: 44,
                arrowsHidden: true,
            },
            {
                number: 982,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/982.png",
                cost: "5 800",
                stars: 3,
                reviews: 56,
                arrowsHidden: true,
            },
            {
                number: 678,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/678.png",
                cost: "5 500",
                stars: 5,
                reviews: 45,
                arrowsHidden: true,
            },
            {
                number: 450,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/450.png",
                cost: "5 300",
                stars: 4,
                reviews: 39,
                arrowsHidden: true,
            },
            {
                number: 350,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/350.png",
                cost: "5 000",
                stars: 3,
                reviews: 77,
                arrowsHidden: true,
            },
            {
                number: 666,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/666.png",
                cost: "5 000",
                stars: 5,
                reviews: 25,
                arrowsHidden: true,
            },
            {
                number: 444,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/444.png",
                cost: "5 000",
                stars: 3,
                reviews: 15,
                arrowsHidden: true,
            },
            {
                number: 352,
                type: "",
                imgSrc: "assets/images/Website_pages/search_room/352.png",
                cost: "5 000",
                stars: 3,
                reviews: 55,
                arrowsHidden: true,
            },
        ];

block content
    main
        .description
            .description__filter-date
                +filter-date({title: "Даты пребывания в отеле"})
            .description__dropdown
                +dropdown(dropdownDefault)
            .description__range-slider
                +range-slider({title: "Диапазон цены"})
                p Стоимость за сутки пребывания в номере
            .description__checkboxes
                +checkboxButtons(amenities)
            .description__rich-checkbox-buttons
                .rich-checkbox__title  Доступность 
                +rich-checkbox("wide_hall", "Широкий коридор", "Ширина коридоров в номере<br />не менее 91 см")
                +rich-checkbox("disabled_helper", "Помощник для инвалидов", "На 1 этаже вас встретит специалист<br/>и проводит до номера")
            .description__dropdown-rooms
                - dropdownRooms.content.title = "Удобства номера";
                +dropdown(dropdownRooms)
            .description__checkbox-buttons
                +expandable-checkbox-list(amenitiesExtra)

        .rooms-list 
            .rooms-list__title
                h1 Номера, которые мы для вас подобрали
            each val in previews
                +preview(val)
            .rooms-list__pagination
                +pagination()