mixin final-check()
    form.form
        .final-check
            .final-check__title
                span.final-check__number 888
                span.final-check__class люкс
            .final-check__price 
                span 9990&#8381
                span в сутки