include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../buttons/buttons.pug

mixin final-check()
    form.form
        .final-check
            .final-check__title
                span.final-check__number 888
                span.final-check__class люкс
            .final-check__price 
                span 9 990&#8381
                span  в сутки
            .final-check__date-dropdown
                +date-dropdown({arrivalName: "arrival_final-check", departureName: "departure_final-check"})
            .final-check__dropdown
                - var dropdown = Object.assign({}, dropdownDefault);
                - dropdown.content.title = "Гости";
                - dropdown.content.input = "3 гостя";
                - dropdown.content.counters.adults_num = "3";
                +dropdown(dropdown)
            .final-check__calculation
                span.primary 9 990&#8381 x 4 суток
                span.rate 39 960&#8381
                span.service-discount Сбор за услуги: скидка 2 179&#8381
                span.rate 0&#8381
                span.extra-service Сбор за дополнительные услуги
                span.rate 300&#8381
            .final-check__total
                span.total Итого
                .hr
                span.total-price 38 081&#8381
            .final-check__button-payment
                +button-payment("Забронировать", "")