include ../input/input.pug
include ../list/list.pug
include ../copyright/copyright.pug
include ../footer-creative/footer-creative.pug

mixin footer(options = {})
  - 
    const {
      img = {
        height: "40px",
        alt: "Логотип",
        src: "logo-toxin.svg",
      },
      description = `Бронирование номеров в лучшем отеле
        2019 года по версии ассоциации
        «Отельные взгляды»`,
      navigation = {
        title: "Навигация",
        list: [ 
          {text: "О нас", link: "/valhalla/feast-table/"}, 
          {text:"Новости", link: "/valhalla/feast-table/"}, 
          {text: "Служба поддержки", link: "/valhalla/feast-table/"}, 
          {text:"Услуги", link: "/valhalla/feast-table/"},
        ],
      },
      aboutUs = {
        title: "О нас",
        list: [
          {text: "О сервисе", link: "/valhalla/feast-table/"}, 
          {text: "Наша команда", link: "/valhalla/feast-table/"}, 
          {text: "Вакансии", link: "/valhalla/feast-table/"}, 
          {text: "Инвесторы", link: "/valhalla/feast-table/"}
        ],
      },
      support = {
        title: "Служба поддержки", 
        list: [
          {text: "Соглашения", link: "/valhalla/feast-table/"}, 
          {text: "Сообщества", link: "/valhalla/feast-table/"}, 
          {text: "Связь с нами", link: "/valhalla/feast-table/"},
        ],
      },
      subscribe = {
        title: "Подписка",
        text: `Получайте специальные предложения
          и новости сервиса`,
        inputOptions: {
          attr: {
            type: "Email",
            placeholder: "Email",
          },
          mod: {
            theme: "email",
          },
        },
      },
      footerCreativeOptions,
    } = options;

  .footer
    .footer__footer-standard
      .footer__content
        .footer__logo
          img.footer__logo-img(alt = img.alt src= require(`../../../assets/blocks/footer/images/${img.src}`) height= img.height)
          .footer__logo-description #{description}
        .footer__navigation
          +list(navigation)
        .footer__about-us
          +list(aboutUs)
        .footer__support
          +list(support)

        .footer__subscribe
          - const {title, text, inputOptions} = subscribe;
          .footer__subscribe-title #{title}
          .footer__subscribe-description #{text}
          .footer__subscribe-email
            +input(inputOptions)
      .footer__copyright
        +copyright({innerText: "Copyright &#169 2018 Toxin отель. Все права зачищены." })

    .footer__footer-creative
      +footer-creative(footerCreativeOptions)