include ../input/input
include ../list/list
include ../copyright/copyright
include ../footer-creative/footer-creative

mixin footer(options = {})
  - 
    const defaultOptions = require('Blocks/footer/default-options.json');
    const { 
      img, 
      description, 
      navigation, 
      aboutUs, 
      support, 
      subscribe, 
      footerCreativeOptions 
    } = { ...defaultOptions, ...options};

  .footer
    .footer__footer-standard
      .footer__content
        .footer__logo
          img.footer__logo-img(alt = img.alt src= require(`Blocks/footer/images/${img.src}`) height= img.height)
          .footer__logo-description #{description}
        .footer__navigation
          +list(navigation)
        .footer__about-us
          +list(aboutUs)
        .footer__support
          +list(support)

        .footer__subscribe
          - const {title, text, inputOptions} = subscribe;
          .footer__subscribe-title #{title}
          .footer__subscribe-description #{text}
          .footer__subscribe-email
            +input(inputOptions)
      .footer__copyright
        +copyright({innerText: "Copyright &#169 2018 Toxin отель. Все права зачищены." })

    .footer__footer-creative
      +footer-creative(footerCreativeOptions)