include ../footer/components/footer-list.pug
include ../footer/components/footer-subscribe.pug

- 
  var footerDescription = {
    description: `Lorem ipsum dolor sit amet consectetur adipiscing
      elit aliquam eget nullam pellentesque aliquam
      curabitur cociis.`,
    navigation: {
      title: "navigation",
      list: [ "About us", "News", "Support", "Products" ],
    },
    aboutUs: {
      title: "About Us",
      list: ["Who we are", "Our team", "Careers", "Investors"],
    },
    support: {
      title: "Support", 
      list: ["Documentation", "Community", "Get in Touch"]
    },
    subscribe: {
      title: "Subscribe to our newsletter",
      description: `Receive our latest news and promotions in
        your inbox!`,
      placeholder: "Your email address",
    },
  }
- 
  var footerRus = {
    description: `Бронирование номеров в лучшем отеле
      2019 года по версии ассоциации
      "Отельные взгляды"`,
    navigation: {
      title: "Навигация",
      list: [ "О нас", "Новости", "Служба поддержки", "Услуги" ],
    },
    aboutUs: {
      title: "О нас",
      list: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"],
    },
    support: {
      title: "Служба поддержки", 
      list: ["Соглашения", "Сообщества", "Связь с нами"]
    },
    subscribe: {
      title: "Подписка",
      description: `Получайте специальные предложения
        и новости сервиса`,
      placeholder: "Email",
    },
  }

mixin footer(footerDescription)
  - 
    let {description, navigation, aboutUs, support} = footerDescription;
  .footer
    .footer__logo
      img(src="assets/blocks/footer/images/logo-toxin.png" height= "40px")
      span.footer__logo-description #{description}
    .footer__navigation
      +footer-list(navigation)
    .footer__about-us
      +footer-list(aboutUs)
    .footer__support
      +footer-list(support)
    +footer-subscribe(footerDescription)
