@import '../template/variables';
@import '../template/extenders';

.footer {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  &__footer-creative {
    display: none;

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__footer-standard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: white;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    max-width: 1440px;
    padding: 99px 140px 100px;
    margin: 0 auto;
    border-top: 1px solid $dark_25;

    background: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @media (max-width: 1366px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      padding: 70px 20px;
    }
  }

  &__navigation,
  &__about-us,
  &__support,
  &__subscribe {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 160px;

    @media (max-width: 1080px) {
      flex-basis: 150px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 250px;
    padding-right: 20px;

    @media (max-width: 1080px) {
      flex-basis: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
    }
  }

  &__logo-img {
    display: block;
  }

  &__logo-description {
    margin-top: 17px;

    @media (max-width: 1080px) {
      margin-top: 0;
      width: 60%;
      margin-left: 50px;
    }
  }

  &__subscribe {
    padding-right: 0;

    &-email {
      margin-top: 23px;
      width: 260px;
    }

    &-title {
      @extend %h3;
      color: $dark_100;
      line-height: 15px;
    }

    &-description {
      max-width: 260px;
      line-height: 24px;
      margin-top: 18px;
    }
  }
}
