include ../input/input.pug
include ../list/list.pug

- 
  var footerDescription = {
    description: `Бронирование номеров в лучшем отеле
      2019 года по версии ассоциации
      «Отельные взгляды»`,
    navigation: {
      title: "Навигация",
      list: [ "О нас", "Новости", "Служба поддержки", "Услуги" ],
    },
    aboutUs: {
      title: "О нас",
      list: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"],
    },
    support: {
      title: "Служба поддержки", 
      list: ["Соглашения", "Сообщества", "Связь с нами"]
    },
    subscribe: {
      title: "Подписка",
      description: `Получайте специальные предложения
        и новости сервиса`,
      placeholder: "Email",
    },
  }

mixin footer(footerDescription)
  - 
    var {description, navigation, aboutUs, support} = footerDescription;

  .footer
    .footer__logo
      img.footer__logo-img(src="assets/blocks/footer/images/logo-toxin.png" height= "40px")
      .footer__logo-description #{description}
    .footer__navigation
      +list(navigation)
    .footer__about-us
      +list(aboutUs)
    .footer__support
      +list(support)
    .footer__subscribe
      - 
        var {title, description, placeholder} = footerDescription.subscribe;
      .footer__subscribe-title #{title}
      .footer__subscribe-description #{description}
      +input({type: "email", placeholder: placeholder, extraClasses: "input_email footer__email"})
