@import '../template/variables';
@import '../template/extenders';

.footer {
  background: white;
  box-shadow: 0px 1px 0px $dark_10;
  border-top: 1px solid $dark_25;

  &__content {
    max-width: 1440px;
    padding: 100px 140px 101px;
    margin: 0 auto;

    background: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @media (max-width: 1366px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (max-width: 1080px) {
      flex-wrap: wrap;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 800px) {
      padding-top: 120px;
      padding-bottom: 0px;
    }
  }

  &__navigation,
  &__about-us,
  &__support,
  &__subscribe {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 150px;

    @media (max-width: 800px) {
      opacity: 0;
      z-index: -1;
      position: absolute;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 260px;
    padding-right: 20px;

    @media (max-width: 1080px) {
      flex-basis: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
    }

    @media (max-width: 800px) {
      justify-content: center;
      margin-bottom: 0;
    }
  }

  &__logo-img {
    display: block;
  }

  &__logo-description {
    margin-top: 17px;

    @media (max-width: 1080px) {
      margin-top: 0;
      width: 60%;
      margin-left: 50px;
    }

    @media (max-width: 800px) {
      opacity: 0;
      z-index: -1;
      position: absolute;
    }
  }

  &__subscribe {
    &-email {
      margin-top: 23px;
      width: 260px;
    }

    &-title {
      @extend %h3;
      color: $dark_100;
      line-height: 15px;
    }

    &-description {
      max-width: 260px;
      line-height: 24px;
      margin-top: 18px;
    }
  }
}
