@import '../template/variables';

.footer {
  background: white;
  display: flex;
  padding: 100px 140px 101px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px $dark_10;
  border-bottom: 1px solid $dark_25;

  &__navigation,
  &__about-us,
  &__support,
  &__subscribe {
    margin-top: 4px;
    flex: 1 0 200px;
  }

  &__logo {
    flex-basis: 300px;
    flex-shrink: 0;
    padding-right: 40px;
  }

  &__logo-img {
    display: block;
  }

  &__logo-description {
    margin-top: 17px;
  }

  &__subscribe-email {
    margin-top: 23px;
    width: 260px;
  }

  &__subscribe-title {
    color: $dark_100;
    line-height: 15px;
  }

  &__subscribe-description {
    max-width: 260px;
    line-height: 24px;
    margin-top: 18px;
  }
}

@media (max-width: 1366px) {
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 1080px) {
  .footer {
    padding-left: 60px;
    padding-right: 60px;

    &__logo,
    &__navigation,
    &__about-us,
    &__subscribe,
    &__support {
      flex-shrink: 1;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 35px;
    justify-content: center;

    &__logo {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-basis: auto;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
    }

    &__logo-description {
      padding-left: 30px;
      margin-top: 0;
    }

    &__navigation,
    &__about-us,
    &__support {
      width: 33%;
      flex-basis: auto;
      text-align: center;
    }

    &__subscribe {
      width: 25%;
      flex-basis: auto;
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__subscribe-title {
      width: 100%;
      text-align: center;
    }

  }
}

@media (max-width: 640px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;

    &__description {
      padding-top: 10px;
      text-align: center;
    }

    &__logo {
      padding-left: 0;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

@media (max-width: 320px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;

    &__description {
      padding-left: 0;
    }
  }
}
