mixin buns(options = {})
  -
    const defaultOptions = require('Blocks/buns/default-options.json');
    const { items } = { ...defaultOptions, ...options};

  .buns
    each elem in items
      .buns__item
        .buns__img(class= `buns__img_${elem.name}`)
        .buns__title #{elem.title}
        .buns__description #{elem.description}