.buns {
  box-sizing: border-box;

  &__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $dark_10;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img_smile {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
    background: url('assets/blocks/buns/images/smile.png') center no-repeat;
  }

  &__img_city {
    @extend .buns__img_smile;
    background: url('assets/blocks/buns/images/city.png') center no-repeat;
  }

  &__img_fire {
    @extend .buns__img_smile;
    background: url('assets/blocks/buns/images/fire.png') center no-repeat;
  }

  &__title {
    font-weight: bold;
  }
}
