mixin buns(options = {})
  - 
    var {
      items = [
        {name: "smile", title: "Комфорт", description: "Шумопоглощающие стены"},
        {name: "city", title: "Удобство", description: "Окно в каждой из спален"},
      ],
    } = options;
  .buns
    each elem in items
      .buns__item
        div(class= `buns__img_${elem.name}` class= nameClass)
        .buns__title(class= titleClass) #{elem.title}
        .buns__description(class= descriptionClass) #{elem.description}