mixin buns(options = {})
  -
    const {
      items = [
        {name: "smile", title: "Комфорт", description: "Шумопоглощающие стены"},
        {name: "city", title: "Удобство", description: "Окно в каждой из спален"},
      ],
    } = options;
  .buns
    each elem in items
      .buns__item
        .buns__img(class= `buns__img_${elem.name}`)
        .buns__title #{elem.title}
        .buns__description #{elem.description}