@import '../template/variables';

.buns {
  box-sizing: border-box;

  &__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $dark_10;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__img {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;

    &_smile {
      background: url("./images/smile.svg") center no-repeat;
    }

    &_city {
      background: url("./images/city.svg") center no-repeat;
    }

    &_fire {
      background: url("./images/fire.svg") center no-repeat;
    }

  }

  &__title {
    font-weight: bold;
  }
}
