@import "src/assets/blocks/template/template.scss";
@import "src/assets/blocks/shades/shades.scss";
@import "src/assets/blocks/types/types.scss";

.colors-and-type {
  position: relative;

  &__shades {
    position: absolute;
    top: 145px;
    left: 150px;
  }

  &__types {
    position: absolute;
    left: 913px;
    top: 145px;
  }
}
