@import 'src/assets/blocks/template/template.scss';

.shades {
  position: absolute;
  top: 145px;
  left: 150px;
  list-style-type: none;
  color: $dark_100;
}

.shades__li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.shades__rect {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: red;
}

.shades__title {
  position: relative;
  width: 159px;
  height: 57px;
  margin-left: 40px;

  font-family: quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 29px;
}

$colors: (
  dark_100: $dark_100,
  dark_75: $dark_75,
  dark_50: $dark_50,
  dark_25: $dark_25,
  dark_5: $dark_5,
  purple: $purple,
  green: $green,
);

@each $key, $val in $colors {
  .shades_color_#{$key} {
    background: $val;
  }
}

$example-text-width: 340px;

.example-text {
  position: absolute;
  left: 913px;
  top: 145px;
  width: $example-text-width;
}

.example-text {
  h1,
  h2 {
    margin-bottom: 50px;
  }

  h3 {
    margin-bottom: 47px;
  }
}


.example-text p {
  max-width: 310px;
}

.example-text_title {
  position: absolute;
  right: $example-text-width + 30px;
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  color: $dark_25;
}
