extends ~Blocks/template/template.pug

block includes
  include ~Blocks/colors-and-type/colors-and-type.pug

block variables
  - 
    const titleName = 'Colors and type';
    const blockName = 'colors-and-type';


block content
  +colors-and-type()
