extends ../../../assets/blocks/template/template.pug

block includes
  include ../../../assets/blocks/colors-and-type/colors-and-type.pug

block variables
  - 
    const titleName = 'Colors and type';
    const blockName = 'colors-and-type';


block content
  main
    +colors-and-type()
