.sign-in {
  &__body {
    background: url('./images/sign-in-page.jpg') no-repeat;

    @media (min-width: 1534px) {
      background-size: 100% auto;
    }

    @media (min-width: 1920px) {
      background-size: 1920px auto;
    }
  }

  &__main {
    min-height: 701px;
    max-height: 920px;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1440px) {
      margin: 0;
    }

    @media (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
