.sign-in {
  &__body {
    background: url('./images/sign-in-page.png') no-repeat;
  }

  &__main {
    padding: 172px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
