.sign-in {
  &__body {
    background: url('./images/sign-in-page.jpg') no-repeat;

    @media (min-width: 1440px) {
      background-size: 100% auto;
    }
  }

  &__main {
    padding: 172px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1366px) {
      padding: 120px 0;
    }

    @media (max-width: 1280px) {
      padding: 100px 0;
    }

    @media (max-width: 1024px) {
      padding: 60px 0;
    }

    @media (max-width: 970px) {
      padding: 40px 0;
    }

    @media (max-width: 800px) {
      padding: 20px 0;
    }
  }
}
