mixin radio-button(id, name, value, checked)
  label.radio-button__label
    input.radio-button__input(type="radio" name= name checked= checked)   
    .radio-button__toggler
    span.radio-button__text #{value}