%icon {
  width: 24px;
  height: 24px;
}
.social-networks {
  display: inline-flex;
  width: 112px;
  justify-content: space-between;

  &__twitter {
    @extend %icon;
    background: url('./images/twitter.png') center no-repeat;
  }
  &__facebook {
    @extend %icon;
    background: url('./images/facebook.png') center no-repeat;
  }
  &__instagram {
    @extend %icon;
    background: url('./images/instagram.png') center no-repeat;
  }
}
