.footer {
  &__subtitle {
    padding-left: 20px;
    @extend h3;
    color: $dark_100;
    margin-bottom: 21px;
    line-height: 15px;
  }
}

.subscribe__description {
  padding-left: 20px;
  max-width: 260px;
  margin-top: -3px;
  line-height: 24px;
}