extends ../../assets/blocks/template/template.pug


block includes
    include ../../assets/blocks/header/header.pug
    
block content
    .nav-bar_standard
        +header()
    .nav-bar_logged-in
    .footer-widgets
    .footer-creative
    