.search-form {
  @media (max-width: 380px) {
    width: 100%;
  }

  @media (max-width: 370px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__dropdown {
    margin-top: 21px;
    position: relative;
  }

  &__date-dropdown {
    margin-top: 20px;
    position: relative;
    z-index: 2;

    @media (max-width: 380px) {
      display: flex;
      justify-content: center;
    }
  }

  &__payment {
    margin-top: 32px;
  }
}
