include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button-payment/button-payment.pug

mixin search-form()
  form.form
    .search-form
      .search-form__title
        h1 Найдём номера под ваши пожелания
      .search-form__date-dropdown
        +date-dropdown({})
      .search-form__dropdown
        - dropdownGuests.content.title = "Гости"
        +dropdown(dropdownGuests)
      .search-form__payment
        +button-payment("Подобрать номер", "")