@import '../template/variables';

.pagination {
  width: 241px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    &_selected {
      border-radius: 50%;
      background: $primary-gradient;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark_50;
    font: $bodyFont;
    line-height: 15px;
    font-size: 12px;

    &:hover {
      color: $dark_75;
      font-weight: bold;
    }

    &_selected {
      font-weight: bold;
      color: white;
    }
  }

  &__next-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__description {
    display: inline-block;
    padding-top: 8px;
  }
}
