mixin pagination(options = {})   
  - 
    const defaultOptions = require('Blocks/pagination/default-options.json');
    const { description, pages } = { ...defaultOptions, ...options };

  .pagination
    ul.pagination__list
      each page in pages
        - const selectedLi = page.selected ? "pagination__li_selected" : "";
        - const selectedLink = page.selected ? "pagination__link_selected" : "";

        li.pagination__li(class= selectedLi)
          a.pagination__link(class= selectedLink href= page.link) !{page.num}
      li.pagination__next-arrow
        i.material-icons arrow_forward
    span.pagination__description #{description}