mixin pagination(options = {})   
  - 
    const {
      description = "1 - 12 из 100+ вариантов аренды",
      pages = [
        {
          num: 1,
          link: "/valhalla/feast-table/",
          selected: true,
        }, 
        {
          num: 2,
          link: "/valhalla/feast-table/",
        }, 
        {
          num: 3,
          link: "/valhalla/feast-table/",
        }, 
        {
          num: "...", 
          link: "/valhalla/feast-table/",
        },
        {
          num: 15,
          link: "/valhalla/feast-table/",
        },
      ],
    } = options;

  .pagination
    ul.pagination__list
      each page in pages
        - const selectedLi = page.selected ? "pagination__li_selected" : "";
        - const selectedLink = page.selected ? "pagination__link_selected" : "";

        li.pagination__li(class= selectedLi)
          a.pagination__link(class= selectedLink href= page.link) !{page.num}
      li.pagination__next-arrow
        i.material-icons arrow_forward
    span.pagination__description #{description}