@import "../like-button/like-button.scss";

.comment {
  position: relative;

  &__avatar {
    position: absolute;
    margin-right: 11px;
    top: 1px;
    box-shadow: 0 10px 20px $dark_10;
    border-radius: 50%;
  }
  &__term {
    margin-left: 59px;
  }

  &__like-button {
    margin-left: 5px;
    margin-top: 2px;
  }

  &__name {
    display: block;
    font-weight: bold;
    margin-left: 59px;
  }

  &__content {
    margin-left: 14px;
  }
  
  &__grouper {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }
}
