include ../like-button/like-button.pug

mixin comment(options = {})
  - 
    var {
      avatarSrc = "assets/blocks/comment/images/comment-murad.png",
      name = "Ирина Иванов",
      term = "600 лет назад", 
      likeButton = {
        counter: 9999,
        isPushed: true,
      },
      content = "Где я? Кто я? Куда я? Я отрезаю от себя части-всё это бьётся в бессилии об пол...",
    } = options;

  .comment
    img.comment__avatar(src= avatarSrc)
    span.comment__name #{name}
    span.comment__term #{term}
    .comment__grouper
      .comment__like-button
        +like-button(likeButton)
      p.comment__content #{content}

