@import '../template/variables';

.comment {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;

  &__avatar {
    box-shadow: 0 10px 20px $dark_10;
    border-radius: 50%;
    grid-row: 1/3;
  }

  &__term {
    padding-left: 10px;
  }

  &__like-button {
    margin: 0 auto;
    padding-top: 12px;
  }

  &__name {
    font-weight: bold;
    padding-left: 10px;
  }

  &__content {
    padding-top: 10px;
    padding-left: 10px;
  }
}
