extends ../../../assets/blocks/template/template_website.pug

block includes
  include ../../../assets/blocks/landing-page/landing-page.pug

block variables
  - const titleName = "Landing page";

block content
  main
    +landing-page()
