extends ../../../assets/blocks/template/template_website.pug

block includes
  include ../../../assets/blocks/landing-page/landing-page.pug

block variables
  - const titleName = "Landing page";
  - const blockName = "landing-page";

block content
  +landing-page()