extends ~Blocks/template/template_website

block includes
  include ~Blocks/landing-page/landing-page

block variables
  - const titleName = "Landing page";
  - const blockName = "landing-page";

block content
  +landing-page()