include ../dropdown/dropdown

mixin dropdown-guests(options = {})
  -
    const defaultOptions = require('Blocks/dropdown-guests/default-options.json');
    const { 
      name,
      title,
      input,
      items,
      counters, 
      expanded,
      buttonResetText, 
      buttonApplyText,
        } = { ...defaultOptions, ...options};

  +dropdown({name, title, input, items, counters, expanded, buttonResetText, buttonApplyText})

