@import '../template/variables';

.footer-creative {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px;
  text-align: center;
  max-width: 768px;

  &__text {
    margin-top: 22px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}
