include ../social-networks/social-networks.pug

mixin footer-creative(copyrightText = "Copyright &#169 2018 Toxin отель. Все права зачищены.")
  .footer-creative
    img.footer-creative__logo(width="106px" height="40px" src="assets/blocks/footer-creative/images/logo-toxin.png")
    span.footer-creative__span #{copyrightText}
    +social-networks()

