@import '../template/variables';

.footer-creative {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 20px $dark_5;
  padding: 120px 104px 120px 104px;
  max-width: 768px;
  margin: 0 auto;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
  }

  &__span {
    margin-top: 20px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}
