include ../social-networks/social-networks.pug

mixin footer-creative(options = {})
  -
    const {
      copyrightText = "Copyright &#169 2018 Toxin отель. Все права зачищены.",
      img = {
        src: "logo-toxin.svg",
        width: "106px",
        height: "40px",
      },
    } = options;
  .footer-creative
    img.footer-creative__logo(width= img.width height= img.height src= require(`../../../assets/blocks/footer-creative/images/${img.src}`))
    span.footer-creative__text !{copyrightText}
    +social-networks()

