//- Объект votes предположительно получим с сервера, описан в diagram.js
mixin diagram()
  .diagram
    canvas.diagram__canvas(width="120px" height="120px")
    span.diagram__total 200
    span.diagram__voices голосов
    ul.diagram__description
      li.diagram__magnificently Великолепно  
      li.diagram__good Хорошо
      li.diagram__satisfactory Удовлетворительно
      li.diagram__disapointed Разочарован
