@import '../template/variables';

.diagram {
  height: 120px;
  display: flex;
  justify-content: space-between;

  color: $purple;
  font-weight: bold;

  &__figure {
    display: flex;
    width: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
  }

  &__canvas {
    // не переименовывать, связан с селекторм js
    position: absolute;
    top: 0;
    left: 0;
  }

  &__total {
    font-family: $titleFont-family;
    font-size: 24px;
    line-height: 30px;
  }

  &__voices {
    // не переименовывать, связан с селектором js
    font-size: 12px;
    line-height: 18px;
    font-family: $bodyFont-family;
    text-transform: uppercase;
  }

  &__description {
    margin-top: 27px;
    margin-left: 30px;
    color: $dark_75;
    font-weight: normal;
    flex-shrink: 0;

    @media (max-width: 380px) {
      margin-left: 15px;
    }
  }

  &__estimate {
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: black;
      margin-right: 5px;
    }

    // пришлось вводить ручками...
    &_magnificently::before {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &_good::before {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &_satisfactory::before {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &_disapointed::before {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }
}
