.bullet-list {
  &__li {
    list-style-type: none;
    font: $bodyFont;
    margin-bottom: 10px;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 7px;
      margin-right: 21px;
      width: 10px;
      height: 10px;
      background: $dark_25;
      border-radius: 50px;
    }
  }

  &__span {
    margin-left: 21px;
    display: inline-block;
  }
}
