mixin bullet-list(bulletListArr)   
    - let { extraClasses = {} } = bulletListArr;
    - let {ulClass = "", liClass = ""} = extraClasses;  

    ul.bullet-list
        each val in bulletListArr
            li.bullet-list__li !{val}