- 
  var bulletListArrDefault = ["Нельзя с питомцами", 
    "Без вечеринок и мероприятий", 
    "Время прибытия — после 13:00, а выезд до 12:00"]                     

mixin bullet-list(bulletListArr = bulletListArrDefault)   
  ul.bullet-list
    each val in bulletListArr
      li.bullet-list__li 
        span.bullet-list__span !{val}