.bullet-list {
  &__li {
    list-style-type: none;
    font: $bodyFont;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;

    &::before {
      content: '';
      margin-top: 7px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      flex-shrink: 0;
      background: $dark_25;
    }
  }

  &__span {
    margin-left: 11px;
  }
}
