@import "../input/input.scss";
@import "../radio-buttons/radio-buttons.scss";
@import "../toggler/toggler.scss";
@import "../button/button.scss";
@import "../button-payment/button-payment.scss";

.registration {
  &__name-field {
    width: 100%;
    margin-top: 20px;
  }

  &__surname-field {
    width: 100%;
    margin-top: 10px;
  }
  &__radio-buttons {
    margin-top: 7px;
  }
  &__birthday {
    margin-top: 23px;
    width: 100%;
    h3 {
      margin-bottom: 5px;
    }
  }
  &__authorization {
    margin-top: 20px;
    width: 100%;
    h3 {
      margin-bottom: 5px;
    }
  }
  &__email {
    margin-top: 5px;
    width: 100%;
  }
  &__password {
    margin-top: 10px;
    width: 100%;
  }
  &__toggle {
    margin-top: 7px;
  }
  &__button-payment {
    margin-top: 23px;
  }
  &__button-enter {
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    margin-top: 29px;
    color: black;
  }
}
