include ../input/input.pug
include ../radio-buttons-group/radio-buttons-group.pug
include ../toggler/toggler.pug
include ../button/button.pug
include ../button-payment/button-payment.pug

mixin registration(options = {})
  -
    const {
      title = "Регистрация аккаунта",
      inputName = {
        attr: {placeholder: "Имя"},
      },
      inputSurname = {
        attr: {placeholder: "Фамилия"},
      },
      radioButtonsGroup,
      titleBirthday = "Дата рождения",

      inputBirthday = {
        attr: {placeholder: "ДД.ММ.ГГГГ"},
      },

      titleAuthorisation = "Данные для входа в сервис",
      inputEmail = {
        attr: {placeholder: "Email"},
      },
      inputPassword = {
        attr: {placeholder: "Пароль"},
      },
      toggler = {
        name: "get_offers",
        text: "Получать спецпредложения",
      },
      buttonPayment = {
        text: "Перейти к оплате",
      },
      accountEnterText = "Уже есть аккаунт на Toxin",
      buttonAccountEnter = {
        text: "Войти", 
        mod: {color: "white", width: "100px"},
      },
    } = options;
  form.registration
    h1 #{title}
    .registration__name-field
      +input(inputName)

    .registration__surname-field
      +input(inputSurname)

    .registration__radio-buttons
      +radio-buttons-group(radioButtonsGroup)

    .registration__birthday
      .registration__birthday-title
        h3 #{titleBirthday}
      +input(inputBirthday)

    .registration__authorization
      h3 #{titleAuthorisation}
      .registration__email
        +input(inputEmail)

      .registration__password
        +input(inputPassword)

      .registration__toggle
        +toggler(toggler.name, toggler.text)

    .registration__button-payment
      +button-payment(buttonPayment)

    .registration__account-enter
      span #{accountEnterText}
      +button(buttonAccountEnter)
      