include ../input/input.pug
include ../masked-text-field/masked-text-field.pug
include ../radio-buttons-group/radio-buttons-group.pug
include ../toggler/toggler.pug
include ../button/button.pug
include ../button-payment/button-payment.pug

mixin registration(options = {})
  -
    const defaultOptions = require('Blocks/registration/default-options.json');
    const {
      title,
      inputName,
      inputSurname,
      radioButtonsGroup,
      titleBirthday,
      inputBirthday,
      titleAuthorisation,
      inputEmail,
      inputPassword,
      toggler,
      buttonPayment,
      accountEnterText,
      buttonAccountEnter,
        } = { ...defaultOptions, ...options};
        
  form.registration
    h1 #{title}
    .registration__name-field
      +input(inputName)

    .registration__surname-field
      +input(inputSurname)

    .registration__radio-buttons
      +radio-buttons-group(radioButtonsGroup)

    .registration__birthday
      .registration__birthday-title
        h3 #{titleBirthday}
      +masked-text-field(inputBirthday)

    .registration__authorization
      h3 #{titleAuthorisation}
      .registration__email
        +input(inputEmail)

      .registration__password
        +input(inputPassword)

      .registration__toggle
        +toggler(toggler.name, toggler.text)

    .registration__button-payment
      +button-payment(buttonPayment)

    .registration__account-enter
      span #{accountEnterText}
      +button(buttonAccountEnter)
