include ../input/input.pug
include ../radio-buttons-group/radio-buttons-group.pug
include ../toggler/toggler.pug
include ../button/button.pug
include ../button-payment/button-payment.pug

mixin registration()
  form.form(action="")
    .registration
      h1 Регистрация аккаунта
      .registration__name-field
        +input({attr: {placeholder: "Имя"}})

      .registration__surname-field
        +input({attr: {placeholder: "Фамилия"}})

      .registration__radio-buttons
        +radio-buttons-group()

      .registration__birthday
        h3 Дата рождения
        +input({attr: {placeholder: "ДД.ММ.ГГГГ"}})

      .registration__authorization
        h3 Данные для входа в сервис
        .registration__email
          +input({attr: {placeholder: "Email"}})

        .registration__password
          +input({attr: {placeholder: "Пароль"}})

        .registration__toggle
          +toggler("get_offers", "Получать спецпредложения")

      .registration__button-payment
        +button-payment({text: "Перейти к оплате"})

      .registration__account-enter
        span Уже есть аккаунт на Toxin
        +button({text: "Войти", mod: {color: "white", width: "100px"}})


