.registration {
  &__name-field {
    width: 100%;
    margin-top: 20px;
  }

  &__surname-field {
    width: 100%;
    margin-top: 10px;
  }

  &__radio-buttons {
    margin-top: 8px;
  }

  &__birthday {
    margin-top: 23px;
    width: 100%;

    &-title {
      margin-bottom: 5px;
    }
  }

  &__authorization {
    margin-top: 20px;
    width: 100%;
  }

  &__email {
    margin-top: 5px;
    width: 100%;
  }

  &__password {
    margin-top: 10px;
    width: 100%;
  }

  &__toggle {
    margin-top: 7px;
    width: 260px;
  }

  &__button-payment {
    margin-top: 23px;
  }
  
  &__account-enter {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    margin-top: 30px;
    color: black;
  }
}