include ../radio-button/radio-button.pug
//- Пример массива кнопок buttonsArr
- 
  let buttonsListDefault = [
    {id: "man", name: "sex", value: "Мужчина", checked: true}, 
    {id: "woman", name: "sex", value: "Женщина", checked: false},                         
  ];

mixin radio-buttons-group(buttonsArr = buttonsListDefault)
  .radio-buttons-group
    each item in buttonsArr
      - let {id, name, value, checked} = item;
      +radio-button(id, name, value, checked)