include ../radio-button/radio-button.pug

mixin radio-buttons-group(options = {})
  - 
    var {
      items = [
        {id: "man", name: "sex", value: "Мужчина", checked: true}, 
        {id: "woman", name: "sex", value: "Женщина", checked: false},                         
      ],
    } = options;
  .radio-buttons-group
    each elem in items
      - let {id, name, value, checked} = elem;
      +radio-button(id, name, value, checked)