@import "src/assets/blocks/template/template.scss";
@import "src/assets/blocks/search-form/search-form.scss";
@import "src/assets/blocks/final-bill/final-bill.scss";
@import "src/assets/blocks/registration/registration.scss";
@import "src/assets/blocks/log-in/log-in.scss";
@import "src/assets/blocks/preview/preview.scss";

body {
  background: #f4f4f6;
  height: 1350px;
}
.cards {
  &__search-form {
    position: absolute;
    left: 140px;
    top: 150px;
  }

  &__final-bill {
    position: absolute;
    left: 560px;
    top: 150px;
  }

  &__calendar {
    position: absolute;
    left: 980px;
    top: 96px;
  }

  &__registration {
    position: absolute;
    left: 140px;
    top: 564px;
  }
  &__log-in {
    position: absolute;
    left: 560px;
    top: 701px;
  }
  &__preview-1 {
    position: absolute;
    width: 270px;
    left: 980px;
    top: 559.5px;
  }
  &__preview-2 {
    position: absolute;
    left: 980px;
    top: 856px;
  }
}
