mixin rich-checkbox(name, value, description, checked)
  - const isChecked = checked === "checked";
  div.rich-checkbox
    label.rich-checkbox__label 
      input.rich-checkbox__input(type="checkbox" name= name checked= isChecked) 
      span.rich-checkbox__span #{value}
    span.rich-checkbox__description !{description}