mixin filter-date(options = {})
  - 
    const {
      title = "filter date dropdown",
      } = options;

  .filter-date
    if (title.length !== 0)
      .filter-date__title
        h3 !{title}
    input.filter-date__input(readonly placeholder= 'ДД ММ - ДД ММ') 