mixin filter-date(obj = filterDateDefault)
  - 
    let {
      title = "filter date dropdown",
      range = "19 авг - 23 авг",
      } = obj;

  .filter-date__title
    h3 !{title}
  select.filter-date
    option(selected) !{range}  