@import '../template/variables';

.date-dropdown {
  width: 320px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 320px) {
    width: auto;
  }

  &:focus,
  &:hover {
    border-color: $dark_50;
  }

  &__item {
    width: 150px;
  }

  &__input-container {
    position: relative;

    &::after {
      font-family: 'material-icons';
      content: 'expand_more';
      font-feature-settings: 'liga';
      font-size: 24px;
      color: $dark_50;

      position: absolute;
      top: 54%;
      transform: translateY(-50%);
      right: 10px;
      z-index: -1;
    }
  }

  &__input {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0 14px 15px;
    border: 1px solid $dark_25;
    border-radius: 4px;
    line-height: 18px;
    color: $dark_75;
    cursor: pointer;
    outline: none;
    background-color: transparent;
  }

  &__buttons {
    cursor: pointer;
    font-family: $bodyFont-family;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 9002;
  }

  &__button-reset {
    color: $dark_50;
  }

  &__button-apply {
    color: $purple;
  }

  // к сожалению, здесь придется использовать каскадность,
  // т.к. она используется в исходном файле datepicker.scss
  .qs-datepicker .qs-squares {
    @media (max-width: 320px) {
      padding-left: 0;
    }
  }

  .qs-datepicker-container {
    height: auto;
    box-shadow: 0px 10px 20px $dark_5;

    @media (max-width: 320px) {
      padding-left: 0;
      padding-right: 0;
      max-width: 320px;
      min-width: 290px;
      width: 100%;
    }
  }
}
