@import '../template/variables';

.date-dropdown {
  width: 320px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 320px) {
    width: auto;
  }

  &:focus,
  &:hover {
    border-color: $dark_50;
  }

  &__item {
    width: 150px;
  }

  &__input-container {
    position: relative;

    &::after {
      font-family: 'material-icons';
      content: 'expand_more';
      font-feature-settings: 'liga';
      font-size: 24px;
      color: $dark_50;

      position: absolute;
      top: 54%;
      transform: translateY(-50%);
      right: 10px;
      z-index: -1;
    }
  }

  &__input {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0 14px 15px;
    border: 1px solid $dark_25;
    border-radius: 4px;
    line-height: 18px;
    color: $dark_75;
    cursor: pointer;
    outline: none;
    background-color: transparent;

    &::placeholder {
      color: $dark_75;
    }
  }
}
