@import "src/assets/blocks/template/template.scss";
@import "src/assets/blocks/header/header.scss";
@import "src/assets/blocks/log-in/log-in.scss";
@import "src/assets/blocks/footer/footer.scss";
@import "src/assets/blocks/copyright/copyright.scss";

body {
    background: url("./sign-in-page.png") no-repeat;
    overflow-x: hidden; //обрезаем фоновое изображение
    width: 100%;
    height: auto;
}
main {
    height: 683px;
    display: flex;
    justify-content: center;
    align-items: center;
}