@import 'src/assets/blocks/template/template.scss';
@import 'src/assets/blocks/log-in/log-in.scss';

body {
  background: url('assets/images/Website_pages/sign-in/sign-in-page.png') no-repeat;
  overflow-x: hidden;
  width: 100%;
  height: auto;
}
main {
  height: 683px;
  display: flex;
  justify-content: center;
  align-items: center;
}
