extends ~Blocks/template/template_website

block includes
  include ~Blocks/room-details/room-details

block variables
  -
    const titleName = 'Room-details';
    const blockName = 'room-details';

block content
  +room-details()
