.button {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  @extend h3;
  color: white;
  position: relative;
  z-index: 1;
  background: none;
  outline: none;

  &_default::before,
  &_disabled::before,
  &_white::before {
    content: "";
    display: block;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: $primary-gradient;
  }

  &_disabled::before {
    opacity: 0.5;
  }

  &_white {
    color: $purple;
  }

  &_white::after {
    content: "";
    display: block;
    width: 95px;
    height: 40px;
    background: white;
    border-radius: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
  }

  &-text {
    @extend h3;
    color: $purple;
    border: none;
    background: none;
    outline: none;
  }
  &-text_disabled {
    color: $dark_50;
  }
}

.button-payment {
  @extend .button;
  width: 320px;
  background: $primary-gradient;
  position: relative;

  &__span {
    margin-left: -3px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 290px;
    top: 21.5px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 2px solid white;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    position: absolute;
    left: 293px;
    top: 17px;
  }
}
