include ../../../assets/blocks/header/header.pug
include ../../../assets/blocks/footer/footer.pug
include ../../../assets/blocks/copyright/copyright.pug
include ../../../assets/blocks/footer-creative/footer-creative.pug


mixin headers-and-footers(options = {})
  -
    const {
      headerStandard,
      headerLoggedIn = {
        logged: true,
      },
      footer,
      copyright,
      footerCreative,
    } = options;
  main.headers-and-footers__main
    .headers-and-footers__component
      +header(headerStandard)
    .headers-and-footers__component
      +header(headerLoggedIn)
    .headers-and-footers__component
      +footer(footer)
      +copyright(copyright)
    .headers-and-footers__component
      +footer-creative(footerCreative)