include ~Blocks/header/header.pug
include ~Blocks/footer/footer.pug
include ~Blocks/footer-creative/footer-creative.pug

mixin headers-and-footers(options = {})
  -
    const {
      headerStandard,
      headerLoggedIn = {
        logged: true,
      },
      footer,
      copyright,
      footerCreative,
    } = options;
    
  main.headers-and-footers__main
    .headers-and-footers__component
      +header(headerStandard)
    .headers-and-footers__component
      +header(headerLoggedIn)
    .headers-and-footers__component
      +footer(footer)
    .headers-and-footers__component
      +footer-creative(footerCreative)