include ../checkbox-list/checkbox-list.pug

mixin checkbox-buttons(options = {})
  -
    const defaultOptions = require('Blocks/checkbox-buttons/default-options.json');
    const { title, expanded, items } = { ...defaultOptions, ...options};
    
  .checkbox-buttons
    h3.checkbox-buttons__title #{title} 
    +checkbox-list({items, expanded})