@import "src/assets/blocks/template/template.scss";

$inputWidth: 320px;

::-webkit-input-placeholder {
  color: $dark_25;
}

::-moz-placeholder {
  color: $dark_25;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: $dark_25;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: $dark_25;
}

main {
  display: flex;
  height: 1853px - 148px;
}
.second-column {
  margin-left: 125px;
  margin-top: -5px;
}

.form__input {
  width: $inputWidth;
  height: 44px;
  border: 1px solid $dark_25;
  border-radius: 4px;
  padding-left: 14px;
  color: $dark_75;
  background: white;
}

.form__input[type="date"] {
  color: $dark_25;
  text-transform: uppercase;
  line-height: 24px;
}

.form__input:focus,
.form__input:hover {
  border-color: $dark_50;
  outline: none;
}

.form__input.hover {
  border-color: $dark_75;
  outline: none;
}

.input-example {
  margin-bottom: 25px;
  width: $inputWidth;
}

.date-dropdown-example {
  @extend .input-example;
  display: flex;
  justify-content: space-between;
}

.input-example__title {
  height: 15px;
  position: relative;
  top: -10px;
}

.input-example__title span {
  position: absolute;
  top: 5px;
  right: 0px;
  @extend h3;
  text-align: right;
  color: $dark_50;
  font-weight: normal;
}

.input-example__title h3 {
  display: inline-block;
}

main {
  padding-top: 148px;
  padding-left: 141px;
}

.select {
  background: url("/assets/images/expand_more.png") no-repeat;
  background-position: right;
  appearance: none;
}

.form__date-dropdown {
  @extend .form__input;
  width: 150px;
  outline: none;
  color: $dark_75;
  padding-left: 15px;
}

.form__filter-date {
  @extend .form__input;
  width: 266px;
}

.input-example_filter {
  @extend .input-example;
  position: relative;
  top: 20px;
}

.form__input_email {
  @extend .form__input;
  width: 266px;
  background: url("/assets/images/arrow_forward.png") right no-repeat;
}

.input-example_email {
  margin-top: 66px;
}

.input-example_dropdown {
  width: 266px;
  margin-top: 105px;
}

.form__dropdown {
  @extend .form__input_email;
  background: url("/assets/images/expand_more.png") right no-repeat;
}

.input-example_dropdown_expanded {
  margin-top: 25px;
  width: 266px;
}

.form__dropdown_expanded {
  @extend .form__dropdown;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: $dark_50;
  outline: none;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: $bodyFont;
  font-size: 18px;
  line-height: 22px;
  color: $dark_50;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $dark_25;
}

.circle.disabled {
  border-color: $dark_10;
}
.form__dropdown__conteiner {
  display: flex;
  border: 1px solid $dark_50;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
  @extend h3;
}
.form__dropdown__items {
  width: 196px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 13px;
  height: 116px;
}

.form__dropdown__counters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 7px;
}
.trigger {
  width: 99px;
  padding-right: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example__expandable-checkbox-list {
  margin-top: 40px;
}

.expandable-checkbox-list {
  width: 266px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }


  &__toggler {
    width: 44px;
    height: 44px;
    background: url("/assets/images/expand_more.png") right no-repeat;
  }

  &__toggler.expanded {
    transform: rotate(180deg);  
  }
}

.example__expandable-checkbox-list_expanded {
  margin-top: 20px;
  margin-bottom: 40px;
}

.checkboxes {
  font: $bodyFont;
  margin-top: 4px;
}
.checkboxes li {
  line-height: 18px;
  position: relative;
  margin-left: 29px;
  margin-bottom: 12px;
  color: $dark_50;
}

.checkboxes li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -30px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid $dark_25;
  border-radius: 4px;
}
.checkboxes li.checked::before {
  background: url("/assets/images/check.png") center no-repeat;
  border-color: $purple;
}

.example__buns {
  margin-top: 20px;
}

.buns {
  box-sizing: border-box;
  border-bottom: 1px solid $dark_10;
  padding-bottom: 20px;

  &__img_smile {
    width: 48px;
    height: 48px;
    background: url("/assets/images/smile.png") center no-repeat;
    float: left;
    margin-right: 10px;
  }

  &__img_city {
    @extend .buns__img_smile;
    background: url("/assets/images/city.png") center no-repeat;
  }

  &__title {
    font-weight: bold;
  }
}

.checkbox {
  position: relative;

  &__label {
    display: inline-block;
    margin-left: 30px;
    line-height: 18px;
    color: $dark_50;
  }

  &__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    display: inline-block;
    border: 1px solid $dark_25;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__input {
    display: none;
  }

  &__input:checked + &__label::before {
    border-color: $purple;
    background: url("/assets/images/check.png") center no-repeat;
  }
}

.checkbox-container__li {
  margin-bottom: 6px;
}

.example__radio-buttons {
  margin-top: 38px;

  &__title {
    margin-bottom: 10px;
  }
}

.radio-buttons {
  width: 221px;
  display: flex;
  justify-content: space-between;

  &__input {
    display: none;
  }

  &__label {
    position: relative;
  }

  &__label::before {
    content: "";
    position: relative;
    display: inline-block;
    border: 1px solid $dark_25;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 11px;
    top: 6px;
    left: 1px;
  }

  &__input:checked + &__label::before {
    border-color: $purple;
  }

  &__input:checked + &__label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
    border-radius: 10px;
  }
}
