extends ../../assets/blocks/template/template.pug

block includes
    include ../../assets/blocks/dropdown/dropdown.pug
    include ../../assets/blocks/checkboxes/checkboxes.pug
    include ../../assets/blocks/buns/buns.pug
    include ../../assets/blocks/radio-buttons/radio-buttons.pug
    include ../../assets/blocks/toggler/toggler.pug
    include ../../assets/blocks/like-button/like-button.pug 
    include ../../assets/blocks/rate-button/rate-button.pug   
    include ../../assets/blocks/comment/comment.pug  
    include ../../assets/blocks/range-slider/range-slider.pug 

block scripts
    script(src="/assets/blocks/dropdown/dropdown.js")
    script(src="/assets/blocks/date-dropdown/date-dropdown.js")
    script(src="/assets/blocks/checkboxes/checkboxes.js")
    script(src="/assets/blocks/toggler/toggler.js")
    script(src="/assets/blocks/like-button/like-button.js")
    script(src="/assets/blocks/rate-button/rate-button.js")
    script(src="/assets/blocks/comment/comment.js")
    script(src="/assets/blocks/range-slider/range-slider.js")

block variables

    - var titleName = 'From Elements'

    - 
        var list1 = {
            "breakfast": "Завтрак",
            "desk": "Письменный стол",
            "highchair": "Стул для кормления",
            "crib": "Кроватка",
            "tv_1": "Телевизор",
            "shampoo_1": "Шампунь",    
            "tv_2": "Телевизор",
            "shampoo_2": "Шампунь",
        }

    -
        var list2 = {
            "smoking": "Можно курить",
            "pets": "Можно с питомцами",
            "guests": "Можно пригласить гостей <br />(до 10 человек)" 
        }

    - 
        var dropdownRooms = {
            name: "rooms", 
            extraClasses: {
                dropdownClass: "dropdown_rooms", 
            },

            content: {
                title: "dropdown",
                input: "2 спальни, 2 кровати...",
                items: {
                    bedrooms: "Спальни",
                    beds: "Кровати",
                    bathrooms: "Ванные комнаты"
                },
                counters: {
                    rooms_num: 2,
                    beds_num: 2,
                    bathrooms_num: 0
                },   
            },
            //- покажем кнопки "Очистить" и "применить"?
            showButtons: false, 
        }

block content
    main
        .first-column
            .example-input
                .example-input__title
                    h3 text field
                    span default
                input.input(type="text" placeholder="Email")

            .example-input 
                .example-input__title
                    h3 text field
                    span hover / focus
                input.input(type="text" class="hover" value="This is pretty awesome")

            .example-dropdown-default  
                span.example__modifier default
                - var obj = Object.assign({}, dropdownDefault);
                - obj.additionalClasses = {};
                +dropdown(obj)

            .example-masket-text-field
                .example-input__title
                    h3 masked text field
                    span default
                input.input.input_type-date(type="date")

            br
            .example-date-dropdown  
                .wrapper
                    .example-input__title
                        h3 date dropdown
                    select.date-dropdown
                        option(selected) ДД.ММ.ГГГГ
                        option 19.08.2019
                        option 20.08.2019
                        option 21.08.2019

                .wrapper       
                    .example-input__title
                        h3 date dropdown          
                    select.date-dropdown
                        option ДД.ММ.ГГГГ
                        option(selected) 19.08.2019
                        option 20.08.2019
                        option 21.08.2019

            .example-input_filter
                .example-input__title
                    h3 filter date dropdown
                select.filter-date.select
                    option(selected) 19 авг - 23 авг  

            .example-input_email
                .example-input__title
                    h3 subscription text field
                input.input_email(type="email" placeholder="Email")

            .example-input_dropdown
                span.example__modifier default
                +dropdown(dropdownRooms)

            .example-dropdown_expanded
                span.example__modifier expanded
                +dropdown(dropdownRooms, true)

            .example__expandable-checkbox-list
                +expandable-checkbox-list({}, false)

            .example__expandable-checkbox-list_expanded
                +expandable-checkbox-list(list1, true)

            .example-buns
                - var buns = bunsArr;
                +buns(buns)

        .second-column
            .example-checkbox-buttons
                +checkboxButtons(list2)

            .example-radio-buttons
                .example-radio-buttons__title
                    h3 radio buttons
                +radioButtonsGroup(buttonsListDefault)

            .example-toggle
                .example-toggle__title
                    h3 toggle
                +toggler("get_special_offers", "Получать спецпредложения", "checked") 
                +toggler("get_special_offers_1", "Получать спецпредложения") 

            .example-like-buttons
                .example-like-buttons__title
                    h3 like button
                .example-like-buttons__container
                    +like-button(2)
                    +like-button(12, true)

            .example-rate-buttons
                .example-rate-buttons__title
                    h3 rate button
                .example-rate-buttons__container
                    +rateButton(4)
                    +rateButton(5)

            .example-dropdown-guests
                +dropdown(dropdownDefault, true)

            .example-rich-checkbox-buttons
                .rich-checkbox__title   rich checkbox buttons
                +rich-checkbox("wide_hall", "Широкий коридор", "Ширина коридоров в номере<br />не менее 91 см")
                +rich-checkbox("disabled_helper", "Помощник для инвалидов", "На 1 этаже вас встретит специалист<br/>и проводит до номера")

            .example-comments
                +comment(reviewer)
        
        .third-column
            +rangeSlider

            .example-button
                .example-button__title
                    h3 buttons
                .example-button__container
                    button.button.button_default click me
                    button.button.button_disabled click me
                    button.button.button_white click me
                    button.button.button_white.button_disabled click me
                    button.button-text click me
                    button.button-text.button-text_disabled.button_moved click me
                .example-button-payment
                    button.button-payment перейти к оплате

            .example-pagination
                .example-pagination__title
                    h3 pagination
                .pagination
                    ul.pagination__list
                        - var pages = [1, 2, 3, "...", 15];
                        li.pagination__li.pagination__li_selected
                            a.pagination__a.pagination__a_selected(href = "#") !{pages[0]}
                        each val in pages.slice(1)
                            li.pagination__li
                                a.pagination__a(href = "#") !{val}
                        li.pagination__next-arrow
                    span.pagination__description 1 - 12 из 100+ вариантов аренды

            .example-dropdown-guests_new-avatar
                - var obj = Object.assign({}, dropdownDefault);
                - obj.showReset = true;
                +dropdown(obj)

            .example-bullet-list
                .example-bullet-list__title
                    h3 bullet list
                    - 
                        var bulletListArr = ["Нельзя с питомцами", 
                            "Без вечеринок и мероприятий", 
                            "Время прибытия — после 13:00,<br /> а выезд до 12:00"]                     
                ul.bullet-list
                    each val in bulletListArr
                        li.bullet-list__li !{val}

