include ../../assets/blocks/template/template.pug
+template("Form Elements")

main
    .input-example
        .input-example__title
            h3 text field
            span default
        input(type="text" placeholder="Email")

