@import "src/assets/blocks/template/template.scss";
@import "src/assets/blocks/input/input.scss";
@import "src/assets/blocks/dropdown/dropdown.scss";
@import "src/assets/blocks/date-dropdown/date-dropdown.scss";
@import "src/assets/blocks/checkboxes/checkboxes.scss";
@import "src/assets/blocks/buns/buns.scss";
@import "src/assets/blocks/radio-buttons/radio-buttons.scss";
@import "src/assets/blocks/toggler/toggler.scss";
@import "src/assets/blocks/like-button/like-button.scss";
@import "src/assets/blocks/rate-button/rate-button.scss";
@import "src/assets/blocks/comment/comment.scss";
@import "src/assets/blocks/range-slider/range-slider.scss";
@import "src/assets/blocks/buttons/buttons.scss";
@import "src/assets/blocks/pagination/pagination.scss";
@import "src/assets/blocks/bullet-list/bullet-list.scss";


$inputWidth: 320px;

::-webkit-input-placeholder {
  color: $dark_25;
}

::-moz-placeholder {
  color: $dark_25;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: $dark_25;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: $dark_25;
}

main {
  display: flex;
  height: 1853px - 148px;
  padding-top: 123px;
  padding-left: 141px;
  z-index: 0;
}

.second-column {
  margin-left: 126px;
  margin-top: 20px;
}

.third-column {
  margin-left: 72px;
  margin-top: 21px;
}

.input {
  width: inherit;
  height: 44px;
  border: 1px solid $dark_25;
  border-radius: 4px;
  padding-left: 14px;
  color: $dark_75;
  // letter-spacing: -0.16px;
  background: transparent;
  cursor: pointer;

  &:focus,
  &:hover {
    border-color: $dark_50;
    outline: none;
  }

  &.hover {
    border-color: $dark_75;
    outline: none;
  }

  &_type-date {
    color: $dark_25;
    text-transform: uppercase;
    line-height: 24px;
  }
}

.example-input {
  position: relative;
  width: $inputWidth;
  margin-top: 25px;

  &__title {
    height: 15px;
    position: relative;
    top: -10px;
  }

  &__title span {
    position: absolute;
    top: 3px;
    right: 0px;
    @extend h3;
    text-align: right;
    color: $dark_50;
    font-weight: normal;
  }

  &__title h3 {
    display: inline-block;
  }
}

.example-dropdown-default {
  @extend .example-input;
  margin-top: 20px;
}

.example-masket-text-field {
  @extend .example-input;
  margin-top: 28px;
}

.example-date-dropdown {
  margin-top: 40px;
}

.filter-date {
  @extend .input;
  width: 266px;
  background: url("/assets/images/expand_more.png") no-repeat;
  background-position: right;
  appearance: none;
}

.example-input_filter {
  position: relative;
  width: $inputWidth;
  margin-top: 46px;
}

.input_email {
  @extend .input;
  width: 266px;
  background: url("/assets/images/arrow_forward.png") right no-repeat;
}

.example-input_email {
  margin-top: 46px;
}

.example-input_dropdown {
  position: relative;
  width: 266px;
  margin-top: 100px;
  margin-left: -1px;
}

.example-dropdown_expanded {
  margin-top: 20px;
  margin-left: -1px;
  width: 266px;
  position: relative;
}

.example__modifier {
  height: 15px;
  @extend h3;
  font-weight: normal;
  color: $dark_50;
  position: absolute;
  right: 0;
}

.example__expandable-checkbox-list {
  margin-top: 157px;
}

.example__expandable-checkbox-list_expanded {
  margin-top: 21px;
  margin-left: -1px;
}

.example-buns {
  margin-top: 35px;
  margin-left: -1px
}

.example-radio-buttons {
  margin-top: 38px;

  &__title {
    margin-bottom: 13px;
  }
}

.example-toggle {
  margin-top: 40px;

  &__title {
    margin-bottom: 13px;
  }

  & .toggler {
    margin-bottom: 10px;
  }
}

.example-like-buttons {
  margin-top: 44px;
  width: 89.72px;

  &__title {
    margin-bottom: 15px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.example-rate-buttons {
  margin-top: 41px;
  width: 261px;

  &__title {
    margin-bottom: 15px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.example-dropdown-guests {
  margin-top: 196px;
}

.example-dropdown-guests_new-avatar {
  margin-top: 233px;
}

.example-rich-checkbox-buttons {
  margin-top: 257px;
}

.example-comments {
  position: absolute;
  top: 1573px;
  left: 586px;
  width: 711px;
  height: 133px;
}

.example-button {
  margin-top: 42px;
  width: 218px;
  height: 195px;

  &__title {
    margin-bottom: 16px;
    width: 100%;
  }
  &__container {
    height: 164px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .button_moved {
    position: relative;
    left: -75px;
  }
}

.example-button-payment {
  margin-top: 30px;
}

.example-pagination {
  margin-top: 115px;

  &__title {
    margin-bottom: 16px;
  }
}
.example-bullet-list {
  margin-top: 257px;

  &__title {
    margin-bottom: 13px;
  }
}

