extends ../../assets/blocks/template/template.pug
block variables
    - var titleName = 'From Elements'

mixin counter(value)
    .trigger
        if (value) 
            .circle -
        else 
            .circle.disabled -
        span= value
        .circle +

mixin radioButton(id, name, value)
    input(type="radio" id= id name= name)
    label(for= id) !{value}

mixin checkbox(id, value)
    .checkbox
        input(type="checkbox" id= id name= id)
        label.checkbox__label(for= id) !{value}    

block content
    main
        .first-column
            .input-example 
                .input-example__title
                    h3 text field
                    span default
                input.form__input(type="text" placeholder="Email")

            .input-example  
                .input-example__title
                    h3 text field
                    span hover / focus
                input.form__input(type="text" class="hover" value="This is pretty awesome")

            .input-example  
                .input-example__title
                    h3 dropdown
                    span default
                select.form__input(class=["select"])
                    option(selected) Сколько гостей 
                    option 1 гость
                    option 2 гостя
                    option 3 гостя


            .input-example.masket-text-field
                .input-example__title
                    h3 masked text field
                    span default
                input.form__input(type="date")

            br
            .date-dropdown-example  
                .wrapper
                    .input-example__title
                        h3 date dropdown
                    select.form__date-dropdown(class=["select"])
                        option(selected) ДД.ММ.ГГГГ
                        option 19.08.2019
                        option 20.08.2019
                        option 21.08.2019

                .wrapper       
                    .input-example__title
                        h3 date dropdown          
                    select.form__date-dropdown(class=["select"])
                        option ДД.ММ.ГГГГ
                        option(selected) 19.08.2019
                        option 20.08.2019
                        option 21.08.2019

            .input-example_filter
                .input-example__title
                    h3 filter date dropdown
                select.form__filter-date.select
                    option(selected) 19 авг - 23 авг  

            .input-example_email
                .input-example__title
                    h3 subscription text field
                input.form__input_email(type="email" placeholder="Email")

            .input-example_dropdown
                .input-example__title
                    h3 dropdown
                    span default
                input.form__dropdown(type="text" value="2 спальни, 2 кровати...")

            .input-example_dropdown_expanded
                .input-example__title
                    h3 dropdown
                    span expanded
                input.form__dropdown_expanded(type="text" value="2 спальни, 2 кровати...")
                .form__dropdown__conteiner 
                    .form__dropdown__items
                        span Cпальни 
                        span Кровати
                        span Ванные комнаты
                    .form__dropdown__counters
                        +counter(2)
                        +counter(2)
                        +counter(0)
            .example__expandable-checkbox-list
                .expandable-checkbox-list
                    .title
                        h3 expandable checkbox list
                        .toggler

            .example__expandable-checkbox-list_expanded
                .expandable-checkbox-list
                    .title
                        h3 expandable checkbox list
                        .toggler.expanded
                    ul.checkboxes
                        li  Завтрак
                        li.checked  Письменный стол
                        li.checked  Стул для кормления
                        li.checked  Кроватка
                        li  Телевизор
                        li  Шампунь
                        li  Телевизор
                        li  Шампунь

            .example__buns
                .buns
                    .buns__img_smile
                    .buns__title Комфорт
                    .buns__description Шумопоглощающие стены

            .example__buns
                .buns
                    .buns__img_city
                    .buns__title Удобство
                    .buns__description Окно в каждой из спален

        .second-column
            .example__checkbox-buttons
                .example__checkbox-buttons__title
                    h3 checkbox buttons
                ul.checkbox-container
                    li.checkbox-container__li
                        +checkbox("smoking", "Можно курить")
                    li.checkbox-container__li
                        +checkbox("pets", "Можно с питомцами")
                    li.checkbox-container__li
                        +checkbox("guests", "Можно пригласить гостей\n(до 10 человек)")
                //- ul.checkboxes
                //-     li Можно курить
                //-     li.checked Можно с питомцами
                //-     li.checked Можно пригласить гостей (до 10 человек)

            //- .example__radio-buttons
            //-     .radio-buttons__title
            //-         h3 radio buttons
            //-     .radio-buttons
            //-         +radioButton("man", "sex", "Мужчина")
            //-         +radioButton("woman", "sex", "Женщина")


