include ../input/input.pug

mixin masked-text-field({ attr = {}, format = "date" } = {})
  input.masked-text-field.js-masked-text-field(
    type="text" 
    placeholder= "ДД.ММ.ГГГГ" 
    data-format= format
    )&attributes(attr)