include ../input/input.pug

mixin masked-text-field( options = {})
  -
    const {
      mod = {}, 
      attr = {},
      format = "date",
    } = options;

    const summaryClasses = Object.entries(mod).reduce((str, [key, entry]) => {
      return str += ` masked-text-field${key}_${entry}`; 
    }, "masked-text-field");

  input(class= summaryClasses type="text" placeholder= "ДД.ММ.ГГГГ" data-format= format)&attributes(attr)