extends ../../../assets/blocks/template/template_website.pug

block includes
  include ../../../assets/blocks/search-form/search-form.pug

block variables
  - var titleName = "Landing page";
block content
  main
    +search-form()
    .slogan 
      .slogan__p 
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
