include ../dropdown/dropdown.pug

mixin dropdown-rooms(options = {})
  - 
    const {
      name =  "rooms", 
      title = "dropdown",
      items = [
        {
          name: "bedrooms",
          text: "Спальни",
          counter: 2,
        },
        {
          name: "beds",
          text: "Кровати",
          counter: 2,
        },
        {
          name: "bathrooms",
          text: "Ванные комнаты",
          counter: 0,
        },
      ],
      counters,

      showButtons =  false,
      expanded = false,
    } = options;

  +dropdown({name, title, input, items, counters, showButtons, showReset, expanded})