include ../dropdown/dropdown

mixin dropdown-rooms(options = {})
  -
    const defaultOptions = require('Blocks/dropdown-rooms/default-options.json');
    const { 
      name,
      title,
      items,
      counters,
      showButtons,
      expanded,
        } = { ...defaultOptions, ...options};

  +dropdown({name, title, input, items, counters, showButtons, showReset, expanded})