extends ../../../assets/blocks/template/template.pug

block variables
  - 
    var titleName = "headers_and_footers";

block includes
  include ../../../assets/blocks/header/header.pug
  include ../../../assets/blocks/footer/footer.pug
  include ../../../assets/blocks/copyright/copyright.pug
  include ../../../assets/blocks/footer-creative/footer-creative.pug

block content
  .nav-bar_standard
    +header(nav)
  .nav-bar_logged-in
    +header(nav, true)
  .footer-widgets
    +footer(footerDescription)
    +copyright({})
  .footer-creative__wrapper
    +footer-creative(footerDescription)

