extends ../../../assets/blocks/template/template.pug

block variables
  - 
    const titleName = "headers_and_footers";

block includes
  include ../../../assets/blocks/header/header.pug
  include ../../../assets/blocks/footer/footer.pug
  include ../../../assets/blocks/copyright/copyright.pug
  include ../../../assets/blocks/footer-creative/footer-creative.pug

block content
  .nav-bar_standard
    +header()
  .nav-bar_logged-in
    +header({logged: true})
  .footer-widgets
    +footer()
    +copyright({})
  .footer-creative__wrapper
    +footer-creative()

