@import "src/assets/blocks/template/template.scss";
@import "src/assets/blocks/header/header.scss";
@import "src/assets/blocks/footer/footer.scss";
@import "src/assets/blocks/copyright/copyright.scss";
@import "src/assets/blocks/footer-creative/footer-creative.scss";

body {
  width: 1440px;
  height: 1350px;
  background: #f4f4f6;
}
.nav-bar_standard {
  position: absolute;
  width: inherit;
  top: 150px;
}

.nav-bar_logged-in {
  position: absolute;
  width: inherit;
  top: 260px;
}

.footer-widgets {
  position: absolute;
  width: inherit;
  top: 370px;
}
.footer-creative__wrapper {
  position: absolute;
  width: inherit;
  top: 853px;
}

.footer-copyright {
  position: absolute;
  bottom: -71px;
  width: inherit;
}
