@import "../template/template.scss";
@import "../registration/registration.scss";

.registration-page {
  &__body {
    background: url("assets/images/Website-pages/registration/registration-page.png") no-repeat;
  }

  &__main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 26px;
  }
}
