.registration-page {
  &__body {
    background: url('./images/registration-page.png') no-repeat;
  }

  &__main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 26px;
  }
}
