.registration-page {
  &__body {
    background: url('./images/registration-page.jpg') no-repeat;
  }

  &__main {
    display: flex;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 20px;
  }
}
