//- include pages/UI_Kit/cards/cards.pug
//- include pages/UI_Kit/colors_&_type/colors_&_type.pug
//- include pages/UI_Kit/form_elements/form_elements.pug
//- include pages/UI_Kit/headers_and_footers/headers_and_footers.pug
//- include pages/Website_pages/sign_in/sign_in.pug
//- include pages/Website_pages/registration/registration.pug
//- include pages/Website_pages/room_details/room_details.pug
//- include pages/Website_pages/search_room/search_room.pug
include pages/Website_pages/landing_page/landing_page.pug