mixin pagesList(dir)
  h1 !{dir.title}
  ul
    each val in dir.pages
      li
        a(style="font-size: 20px" href=`./${val}.html`) !{val}

-
  const UI_Kit = {
    title: "UI_Kit",
    pages: ["cards", "colors_and_type", "form_elements", "headers_and_footers"],
  }

  const Website_pages = {
    title: "Website_pages",
    pages: ["sign_in", "registration", "room_details", "search_room", "landing_page"],
  }

+pagesList(UI_Kit)
+pagesList(Website_pages)