mixin pagesList(dir)
  h1 !{dir.title}
  ul
    each val in dir.pages
      li
        a(style="font-size: 20px" href=`./${val}.html`) !{val}

-
  const UI_Kit = {
    title: "UI-Kit",
    pages: ["cards", "colors-and-type", "form-elements", "headers-and-footers"],
  }

  const Website_pages = {
    title: "Website-pages",
    pages: ["sign-in", "registration", "room-details", "search-room", "landing-page"],
  }

+pagesList(UI_Kit)
+pagesList(Website_pages)