mixin button(options = {})
  -
    const {
      text = "click me",
      mod = {}, 
      attr = {type: "button"}
      } = options;

    const summaryClasses = Object.entries(mod).reduce((str, [key, entry]) => {
      return str += ` button_${key}_${entry}`; 
    }, "button");

  button(class= summaryClasses)&attributes(attr) #{text}