//- usage
//- +button({text: "click me!",
  mod: {theme: "blue", color: "red"}, // we place our modificators
  attr: {type: "button"} // we place here out attributes

mixin button(description = {})
  -
    var {
      text = "click me",
      mod = {}, 
      attr = {type: "button"}
      } = description;

    var summaryClasses = Object.entries(mod).reduce((str, [key, entry]) => {
      return str += ` button_${key}_${entry}`; 
    }, "button");

  button(class= summaryClasses)&attributes(attr) #{text}