mixin button(options = {})
  -
    const {
      isLink,
      text = "click me",
      mods = {}, 
      attrs = {},
      } = options;

    const validModifiers = ["button_theme_slim", "button_theme_hovered", "button_color_white"];

    const modifiers = Object.entries(mods)
      .map(([key, entry]) => `button_${key}_${entry}`)
      .filter(modifier => validModifiers.includes(modifier));

  if (isLink)
    a.button.button__link(href= isLink class= modifiers)&attributes(attrs) #{text}
  else
    button.button(type="button" class= modifiers)&attributes(attrs) #{text}