mixin button(options = {})
  -
    const {
      link,
      text = "click me",
      mod = {}, 
      attr = {},
      } = options;

    const validModifiers = ["button_theme_slim", "button_theme_hovered", "button_color_white"];

    const modifiers = Object.entries(mod)
      .map(([key, entry]) => `button_${key}_${entry}`)
      .filter(modifier => validModifiers.includes(modifier));

  if (link)
    a.button.button__link(href= link class= modifiers)&attributes(attr) #{text}
  else
    button.button(type="button" class= modifiers)&attributes(attr) #{text}