mixin button(options = {})
  -
    const {
      link,
      text = "click me",
      mod = {}, 
      attr = {type: "button"},
      } = options;

    const summaryClasses = Object.entries(mod).reduce((str, [key, entry]) => {
      return str += ` button_${key}_${entry}`; 
    }, "button");

  if (link)
    a.button__link(href= link)
      button(class= summaryClasses)&attributes(attr) #{text}
  else
    button(class= summaryClasses)&attributes(attr) #{text}