@import '../template/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  border: none;
  border-radius: 22px;
  z-index: 1;

  padding: 10px 20px;
  background: $primary-gradient;

  outline: none;
  cursor: pointer;

  color: white;
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;

  &__link {
    text-decoration: none;
  }

  &_theme_hovered {
    background: $primary-gradient_05;
  }
  &:hover {
    background: $primary-gradient_05;
  }

  &_theme_slim {
    line-height: 14px;
  }

  &_color_white {
    color: $purple;

    &::before {
      content: '';
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      background: white;
      border-radius: 22px;
      z-index: -1;
    }
  }
}
