.button {
  padding: 0 20px;
  border-radius: 22px;
  @extend h3;
  color: white;
  line-height: 44px;
  position: relative;
  z-index: 1;
  background: $primary-gradient;
  outline: none;

  &_theme_disabled {
    background: $primary-gradient_05;
  }

  &_theme_slim {
    line-height: 34px;
  }

  &_width_100px {
    width: 100px;
  }

  &_color_white {
    color: $purple;

    &::before {
      content: '';
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      background: white;
      border-radius: 22px;
      z-index: -1;
    }
  }
}
