extends ../../assets/blocks/template/template.pug


block includes
    include ../../assets/blocks/dropdown/dropdown.pug 

block scripts
    script(src="/assets/blocks/dropdown/dropdown.js")

block variables
    - 
        var titleName = 'Cards'
block content

    .search-form-entry_1
        form.form
            .form__title 
                h1 Найдём номера под ваши пожелания
            .search-form
                .date-dropdown
                    input(type="text" name= "arrivalDate")
                    input(type="text" name= "departureDate")
                .search-form__dropdown
                    - dropdownDefault.content.title = "Гости"
                    +dropdown(dropdownDefault)

    .calendar
        .date-dropdown
            input(type="text" name= "arrivalDate_1" value= "19.08.2019" class="_invisible")
            input(type="text", name= "departureDate_1" value= "23.08.2019" class="_invisible")           
