extends ../../assets/blocks/template/template.pug


block includes
    include ../../assets/blocks/search-form/search-form.pug
    include ../../assets/blocks/final-check/final-check.pug
    include ../../assets/blocks/log-in/log-in.pug


block variables
    - 
        var titleName = 'Cards'
block content

    .search-form-entry
        +search-form()

    .final-check-entry
        +final-check()

    .calendar
        - 
            let dateDropdown = {
                arrivalTitle: "",
                arrivalName: "arrival_calendar",
                departureTitle: "",
                departureName: "departure_calendar"
            }
        +date-dropdown(dateDropdown)

    .registration
        +log-in()