@import "src/assets/blocks/template/template.scss";
@import "src/assets/blocks/search-form/search-form.scss";


body {
  background: #f4f4f6;
}

.search-form-entry_1 {
  position: absolute;
  left: 140px;
  top: 150px;
}

.calendar {
  position: absolute;
  left: 980px;
  top: 101px;
}

._invisible {
  visibility: hidden;
}







