extends ../../assets/blocks/template/template.pug


block includes
    include ../../assets/blocks/search-form/search-form.pug
    include ../../assets/blocks/final-check/final-check.pug


block variables
    - 
        var titleName = 'Cards'
block content

    .search-form-entry
        +search-form()

    .final-check-entry
        +final-check()


    .calendar
        - 
            let dateDropdown = {
                arrival: {
                    title: "",
                    name: "arrival_calendar",
                },
                departure: {
                    title: "",
                    name: "departure_calendar",
                } 
            }
        +date-dropdown(dateDropdown)