mixin input(obj)
  - 
    let {
      type =  "text",
      placeholder = "",
      value = "",
      modifiers = "",
    } = obj;

    


  input.input(type= type, placeholder= placeholder, value= value, class= modifiers)