mixin input(options = {})
  -
    var {
      mod = {}, 
      attr = {type: "text"}
    } = options;

    var summaryClasses = Object.entries(mod).reduce((str, [key, entry]) => {
      return str += ` input_${key}_${entry}`; 
    }, "input");

  input(class= summaryClasses)&attributes(attr)