mixin input(options = {})
  -
    const {
      mod = {}, 
      attr = {type: "text"}
    } = options;

    const summaryClasses = Object.entries(mod).reduce((str, [key, entry]) => {
      return str += ` input_${key}_${entry}`; 
    }, "input");

  input(class= summaryClasses)&attributes(attr)