@import '../template/variables';
@import '../template/extenders';

.list {
  &__title {
    @extend %h3;
    color: $dark_100;
    line-height: 15px;
  }

  &__li {
    line-height: 18px;
    color: $dark_50;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      color: $dark_100;
    }
  }

  &__link {
    text-decoration: none;
    font: inherit;
    color: inherit;
  }
}
