mixin list(options = {}) 
  - 
    var {
      title = "someTitle",
      list = ["item1", "item2", "item3"],
    } = options;

  .list__title #{title}
  ul.list__ul
    each val in list
      li.list__li #{val}