//- example of objList
  var objList = {
    title: 'someTitle',
    list: [item1, item2, item3],
  }

mixin list(objList) 
  .list__title #{objList.title}
  ul.list__ul
    each val in objList.list
      li.list__li #{val}