mixin button-payment({ text = "Оплатить", attr = {} } = {})

  button.button-payment(type="submit")&attributes(attr)
    span.button-payment__text #{text}
    .button-payment__arrow.material-icons arrow_forward