@import "../template/template.scss";
@import "../shades/shades.scss";
@import "../types/types.scss";

.colors-and-type {
  &__main {
    display: flex;
    padding-top: 145px;
    padding-left: 150px;
    padding-bottom: 145px;
    justify-content: space-between;
    width: 1253px;
  }
}
