include ../shades/shades.pug
include ../types/types.pug

mixin colors-and-type(options = {})
  - 
    const defaultOptions = require('Blocks/colors-and-type/default-options.json');
    const { colors, typesList } = { ...defaultOptions, ...options };

  main.colors-and-type__main
    .colors-and-type__shades
      +shades(colors)
    .colors-and-type__types
      +types(typesList)