@import "../template/template.scss";
@import "../shades/shades.scss";
@import "../types/types.scss";

.colors-and-type {
  position: relative;

  &__shades {
    position: absolute;
    top: 145px;
    left: 150px;
  }

  &__types {
    position: absolute;
    left: 913px;
    top: 145px;
  }
}