.footer {
  &__subtitle {
    padding-left: 20px;
    @extend h3;
    color: $dark_100;
    margin-bottom: 21px;
    line-height: 15px;
  }

  &__list-li {
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 18px;
    color: $dark_50;
    cursor: pointer;
  }

  &__list-li:hover {
    color: $dark_100;
  }
}