include ../search-form/search-form.pug
include ../final-bill/final-bill.pug
include ../registration/registration.pug
include ../log-in/log-in.pug
include ../preview/preview.pug

mixin cards(options = {})
  -
    const defaultOptions = require('Blocks/buns/default-options.json');
    const {
      searchForm,
      finalBill,
      registration,
      logIn,
      preview1,
      preview2,
        } = { ...defaultOptions, ...options};

  main.cards__main
    .cards__column-1
      .cards__search-form
        +search-form(searchForm)
      .cards__registration
        +registration(registration)

    .cards__column-2
      .cards__final-bill
        +final-bill(finalBill)
      .cards__log-in
        +log-in(logIn)

    .cards__column-3
      .js-cards__calendar
      .cards__preview-1
        +preview(preview1)
      .cards__preview-2
        +preview(preview2)