@import "../template/template.scss";
@import "../search-form/search-form.scss";
@import "../final-bill/final-bill.scss";
@import "../registration/registration.scss";
@import "../log-in/log-in.scss";
@import "../preview/preview.scss";

.cards {
  &__main {
    padding-left: 140px;
    padding-bottom: 140px;
    display: flex;
    flex-flow: column wrap;
    max-height: 1350px;
    background: #f4f4f6;
  }

  &__column-1,
  &__column-2,
  &__column-3 {
    margin-top: 150px;
    margin-right: 40px;
  }

  &__column-3 {
    margin-top: 96px;
  }

  &__registration {
    margin-top: 39px;
  }

  &__log-in {
    margin-top: 39px;
  }

  &__preview-1 {
    margin-top: 415px;
  }

  &__preview-2 {
    margin-top: 39px;
  }
}
