.cards {
  &__main {
    width: 1440px;
    padding-left: 140px;
    padding-right: 100px;
    padding-bottom: 140px;
    display: flex;
    flex-flow: column wrap;
    max-height: 1350px;
    background: #f4f4f6;
  }

  &__column-1,
  &__column-2,
  &__column-3 {
    margin-top: 150px;
  }

  &__registration {
    margin-top: 39px;
  }

  &__log-in {
    margin-top: 41px;
  }

  &__preview-1 {
    margin-top: 40px;
  }

  &__preview-2 {
    margin-top: 39px;
  }
}
