include ../search-form/search-form.pug
include ../final-bill/final-bill.pug
include ../registration/registration.pug
include ../log-in/log-in.pug
include ../preview/preview.pug

mixin cards(options = {})
  -
    const {
      searchForm,
      finalBill,
      dateDropdownOptions = {
        arrivalTitle: "",
        arrivalName: "arrival_calendar", 
        departureTitle: "",
        departureName: "departure_calendar",
      },
      registration,
      logIn,

      preview1,
      preview2 = {
        number: 840,
        type: "",
        imagesSrc: [
          "assets/blocks/preview/images/840.png",
          "assets/blocks/preview/images/840.png",
          "assets/blocks/preview/images/840.png",
          "assets/blocks/preview/images/840.png",
        ],
        cost: "9 900",
        stars: 4,
        reviewsNum: 65,
        arrowsHidden: true,
      }
    } = options;

  main.cards__main
    .cards__column-1
      .cards__search-form
        +search-form(searchForm)
      .cards__registration
        +registration(registration)

    .cards__column-2
      .cards__final-bill
        +final-bill(finalBill)
      .cards__log-in
        +log-in(logIn)

    .cards__column-3
      .cards__calendar
        +date-dropdown(dateDropdownOptions)
      .cards__preview-1
        +preview(preview1)
      .cards__preview-2
        +preview(preview2)